[2013-08-09 13:53] zdne opened #1 "Normalize AST output"
To match https://github.com/apiaryio/snowcrash/issues/22

Specifically: https://github.com/apiaryio/snowcrash/wiki/API-Blueprint-AST-Media-Types#json-serialization

[2013-09-10 13:54] #1 closed, assigned to zdne

[2013-10-05 16:13] Almad opened #2 "Be able to set parsing timeout"
When calling `parse`, be able to pass an `timeout` argument that will limit the execution time.

Call back with `TimeoutError` if blueprint cannot be parsed in time.

[2013-11-14 10:00] korpa opened #3 "ast.resourceGroups.name empty in 0.5.4"
While 0.5.2 and 0.5.3 are ok, in 0.5.4 names in ast.resourceGroups are empty.

[2013-11-29 22:47] danielgtaylor opened #4 "Windows Issues"
As described in https://github.com/danielgtaylor/aglio/issues/3 there are some issues that prevent protagonist from being used easily on Windows. There are two main issues:
1. Windows line endings `\r` are not supported
2. Valid blueprints cause errors once line endings are fixed

The fix for line endings is simple enough, just `blueprint.replace(/\r/g, '...')` where `...` is either a blank string

[2013-12-04 15:12] #4 closed, assigned to zdne

[2013-12-14 17:28] gregbellingham opened #5 "Seg fault parsing "# Group" with 0.8.0"
I am running on Linux Mint 14 with node 0.10.3 and NPM 1.2.17. NPM install is succeeding, including the gyp build. I have never cloned or built protagonist on this box except for with NPM. I was seeing this fault with a much larger input document, but I reduced the repro down to the case where "# Group" is parsed.

Repro:

1.Do a fresh npm install of Protagonist 0.8.0.
2. Run the following code in

[2014-01-23 09:06] ignisf opened #7 "Build fails when using clang"
Hello,

When I faced #5 I tried compiling protagonist with clang. Unfortunately the build failed:

[code]

Removing the `-fno-tree-vrp` and `-fno-tree-sink` arguments from `build/protagonist.target.mk` and `build/snowcrash/*.mk` seems to resolve the issue -- the build passes and the tests are successful. Unfortunately, I don't know how to make gyp add them only for GCC.

BTW, I'm using `clang vers

[2014-01-30 16:39] #3 closed, assigned to nobody

[2014-01-30 18:04] #7 closed, assigned to nobody

[2014-01-31 09:56] #5 closed, assigned to nobody

[2014-03-07 15:59] zdne opened #9 "API documentation"
Add protagonist API documentation

[2014-03-07 16:00] zdne opened #10 "Update AST to match vnd.apiblueprint.ast.raw+json; version=2.0"
https://github.com/apiaryio/api-blueprint-ast

[2014-03-11 11:57] #9 closed, assigned to nobody

[2014-03-12 16:02] meoster opened #14 "Segfault-handler throwing exception saying segfault-handler-native.node not found"
For segfault-handler module. Name inside binding.gyp and index.js must be the same. It is currently using segfault-handler-native.

Got protagonist working with my latest ubuntu after renaming to be the same.

This is not a protagonist issue but a note for others getting it to work.

[2014-04-01 05:09] #10 closed, assigned to nobody

[2014-04-10 12:09] jano-petras opened #15 "npm install fails on 64bit openSuse"
Unable to install protagonist on 64bit openSuse linux install.

<pre>
xxxx@linux:~> npm install protagonist
npm http GET https://registry.npmjs.org/protagonist
npm http 304 https://registry.npmjs.org/protagonist
npm http GET https://registry.npmjs.org/protagonist/-/protagonist-0.10.0.tgz
npm http 200 https://registry.npmjs.org/protagonist/-/protagonist-0.10.0.tgz

gyp: /usr/share/node/common.gypi

[2014-04-14 12:45] zdne opened #16 "Node v0.11 support"
Also see <http://stackoverflow.com/questions/22763774/jenkins-dredd-npm-err-failed-at-the-protagonist0-8-0-install-script?noredirect=1#comment35235905_22763774>

[2014-04-21 17:04] raisty opened #18 "Installing issues @W7 + WebStorm + NPM"
At first I install node-gyp 0.13.0, then I want install protagonist (latest - 0.11.0). But there is always error:

Install packages failed: Error occurred when installing package protagonist.
"C:\Program Files\nodejs\npm.cmd" install protagonist

Exit code: 1

Standard error:
npm http GET https://registry.npmjs.org/protagonist
npm http 304 https://registry.npmjs.org/protagonist
gypnpm ERR! protago

[2014-05-27 07:43] modess opened #19 "Error: spawn EACCES"
I've tried installing it on OS X 10.9 and also in a Vagrant machine running Ubuntu 12.04, with the same result. I've also tried installing previous versions of protagonist.

[code]

Node and npm versions

[code]

[2014-06-25 13:54] mattlanham opened #20 "libtool: unrecognized option `-static'"
This is the output I get from the'npm install protagonist' install command, I've tried all sorts to resolve this with nothing working. I'm on OS X 10.9.3, Retina Macbook Pro.

npm -v = 1.4.6
which libtool = /usr/bin/libtool

Let me know if you need any other information.

[code]

[2014-06-25 17:53] #20 closed, assigned to nobody

[2014-07-21 17:13] cecchi opened #22 "Debian Installation Errors"
[code]

[code]

[2014-09-16 19:56] klinki opened #25 "Segfault with 0.12.1"
Hello,

I'm getting segfault with protagonist 0.12.1.  npm version 1.4.21, nodeJS version: 0.10.29

Code:
[code]

[2014-09-24 10:42] #19 closed, assigned to nobody

[2014-09-24 11:03] #22 closed, assigned to nobody

[2014-10-02 21:57] wbingli opened #30 "npm install protagonist @OS X 10.9.5"
Hi,

I cannot install protagonist on OS X 10.9.5.

Below are the console output:

[code]

[2014-10-03 00:45] #30 closed, assigned to nobody

[2014-11-07 21:09] ghost opened #33 "Install issue on Windows 7"
May be related to the other install issue in #18 but my error message includes error messages not in the other issue and maybe provide more hints to solve.

[code]

[2014-11-09 10:42] #33 closed, assigned to nobody

[2014-12-10 07:19] demohi opened #34 "npm install error"
#### computer

![snip20141210_11](https://cloud.githubusercontent.com/assets/1209159/5372203/e5aac492-807f-11e4-9fb2-eea4b615fe61.png)

#### node&node-gyp version
node -v v0.11.14
node-gyp -v v1.0.2

#### error msg

[code]

[2015-01-19 17:58] danielgtaylor commented on #34
It's worth nothing that the error from the first post also happens when trying to compile with [io.js 1.0.x](https://iojs.org/). It would be nice to have support for these newer versions/forks.

[2015-01-20 09:16] zdne commented on #34
@jalberto can you please open a new issue with the full build output and your version node & gcc / llvm versions?  Thanks.

[2015-01-20 09:17] zdne commented on #34
@danielgtaylor The issue for support of v0.11 can be tracked here https://github.com/apiaryio/protagonist/issues/16

[2015-01-20 09:17] #34 closed

[2015-01-20 13:40] zdne commented on #16
I have started to play with the new v8 API seems there were quite big changes the WIP branch is here: https://github.com/apiaryio/protagonist/tree/zdne/node-v0.11-support

New Node documentation available here: https://github.com/joyent/node/blob/v0.11.14-release/doc/api/addons.markdown

[2015-01-24 00:16] danielgtaylor commented on #16
+1 (this should also add support for [iojs](https://iojs.org/) 1.x)

[2015-01-26 17:26] danielgtaylor opened #35 "Possible Windows Regression"
It looks like multiple users have reported a potential regression on Windows via danielgtaylor/aglio#78. It seems directly related to the version bump between Protagonist 0.16 and 0.17 when dealing with fairly large files.

[2015-01-27 08:59] zdne commented on #35
Thanks for reporting @danielgtaylor!

Do you know whether this is a performance issue (= the parsing is really slow) or is it a complete failure (file won't parse)?

[2015-01-27 09:23] pksunkara commented on #35
[This](https://gist.github.com/NobodysNightmare/5095a25d6f1c9662db46) is the failing blueprint on windows in the above mentioned issue.

[2015-01-27 09:36] NobodysNightmare commented on #35
@zdne It is a complete failure.

Please note that the blueprint referenced by @pksunkara is a **shortened** version of [the original blueprint](https://github.com/opf/openproject/blob/a3839a19c2e66b2ae879b2f3374003f805660a0a/doc/apiv3-documentation.apib).

The *shortened* version fails **unreliably** (fails approx. 3 of 4 runs, meaning it *succeeds* 1 of 4 runs!). The full version of the blueprint

[2015-02-04 11:43] zdne commented on #35
Hey, just want to assure that I will look into this issue & fix it ASAP. Thanks.

[2015-02-08 10:29] yakovkhalinsky commented on #16
Will just add this now happens on the new Node.js 0.12 release

[2015-02-12 17:05] jacksonj04 commented on #16
+1

[2015-02-14 16:51] solarisfire opened #40 "Installation Failure on Ubuntu 14.04.01"
Tried installing and get this:

[code]

[2015-02-14 18:21] zdne commented on #40
@solarisfire to me it seems it has installed successfully. I do not see any error except of few deprecation warnings, have you tried to use the library?

[2015-02-14 19:16] solarisfire commented on #40
Good point. It does run. That's just a lot of build warnings. Had me worried.

[2015-02-14 19:16] #40 closed

[2015-02-16 13:37] 3mind- commented on #35
@zdne any progress already that you can share?
Thanks

[2015-02-16 13:43] zdne commented on #35
@3mind- No updates yet, sorry. Will get to it during this week.

[2015-02-18 11:13] akademy commented on #15
I had this problem on OpenSuse and @cesarizu suggestion worked. Just install devel with:
zypper in nodejs-devel

(Note: it's called "nodejs-devel" not "node-devel" as @mustela mentioned.)

[2015-02-18 14:57] Almad commented on #16
@zdne Hmm, will this make the "new" protagonist versions backward-incompatible with 0.10?

[2015-02-18 15:00] pksunkara commented on #16
@Almad I am looking at https://github.com/rvagg/nan using which we can still be backward compatible

[2015-02-18 19:12] pksunkara commented on #14
This should be solved since segfault-handler is fixed and we are always using it's master branch. Close?

[2015-02-18 19:28] pksunkara commented on #16
iojs/io.js#456

[2015-02-19 15:04] #14 closed

[2015-02-19 15:06] pksunkara commented on #14
@meoster This has been fixed in segfault-handler master branch. Please reopen if still getting the error.

[2015-02-20 06:59] pksunkara commented on #15
@devsdmf Updating your npm should solve your issue.

[code]

@mustela's issue has been solved in danielgtaylor/aglio#54

[2015-02-20 06:59] #15 closed

[2015-02-20 07:03] pksunkara commented on #22
If this hasn't been solved yet, you can try the proposed solutions in [apiaryio/snowcrash#63](https://github.com/apiaryio/snowcrash/issues/93#issuecomment-39346375) or danielgtaylor/aglio#16

[2015-02-20 07:05] pksunkara commented on #18
@max258 Can you try using a later npm version? preferably 2.x.x

[2015-02-20 14:56] pksunkara commented on #16
protagonist-experimental@0.18.7 now supports node.js ~0.8.15, 0.10.x, 0.11.x, 0.12.x and io.js v1.x.x

[2015-02-21 08:01] demohi commented on #16
:+1:

[2015-02-21 18:12] lukebond opened #43 "`npm install protagonist` files with Node.js 0.12.0 on Arch Linux"
I have a project using Aglio that I cannot `npm install` with my current setup due to protagonist failing.

[code]

As the output shows, I'm using Node.js 0.12.0 and npm 2.5.1. gcc version is  4.9.2.

If I downgrade to Node.js 0.10.36 it works fine.

[2015-02-22 03:35] adamgross42 commented on #43
I'm seeing this as well, starting yesterday :disappointed:

[2015-02-22 15:18] zdne commented on #16
@pksunkara you can't close this issue until it was released as protagonist :-1:

[2015-02-22 15:19] zdne commented on #25
Hey, node v0.12 should be supported once https://github.com/apiaryio/protagonist/issues/16 is resolved, I believe that should fix this problem

[2015-02-22 15:20] zdne commented on #43
Node > v0.11 isn't supported in the stable branch – see https://github.com/apiaryio/protagonist/issues/16 for details –

[2015-02-22 15:21] zdne commented on #43
Long story v0.11 introduced some API breaking changes, we have addressed them in the experimental version, stable release pending. Closing as duplicate to https://github.com/apiaryio/protagonist/issues/16

[2015-02-22 15:21] #43 closed

[2015-02-25 04:09] ahmad2x4 commented on #35
I'm experiencing the same issue randomly on Windows

[2015-02-27 14:18] zdne commented on #35
Gentlemen,
 I have looked into the issue and current status is that I am not able to reproduce this issue.

I have fixed the tests suite, added Protagonist in Windows CI testing (see https://ci.appveyor.com/project/zdne/protagonist/branch/master) and released new version [v0.17.2](https://github.com/apiaryio/protagonist/releases/tag/v0.17.2)

Tested on Windows 7 and Windows Sever 2012.

Can you pl

[2015-02-27 18:12] michaelgilley commented on #16
Is there an ETA for fix on this issue? It's the one thing stopping us from moving to 0.12 or io.js and I'm about to drop it if need be.

[2015-02-28 00:29] pksunkara commented on #16
@michaelgilley It has been fixed and beta released at `protagonist-experimental@0.18.7`. We are looking to do an official release as soon as possible.

[2015-02-28 00:34] michaelgilley commented on #16
Great! Thank you!

[2015-03-02 13:56] burkmiers opened #47 "Trying to install Aglio"
I've been trying to install Aglio, but it's been failing. I uninstall....

Node: v0.10.35
Python:2.7
npm:1.4.28

 I was asked if MSVC was installed. No. So I installed Microsoft Visual C++ Compiler for Python 2.7
http://www.microsoft.com/en-us/download/details.aspx?id=44266

But I still got the following errors.

[code]

[2015-03-02 14:09] pksunkara commented on #47
Can you try checking if this is an error with `node-gyp` by install `bcrypt` first? `npm install bcrypt`.

If it fails, it's an error with `node-gyp`. Otherwise, then it's protagonist error.

[2015-03-02 14:34] burkmiers commented on #47
It failed. Now where should I go for help??? lol

C:\DevPrograms\aglio-master\node_modules\bcrypt>node "C:\Program Files\nodejs\node_modules\npm\bin\node-gyp-bin\\..\..\node_modules\node-gyp\bin\node-gyp.js" rebuild
gyp ERR! configure error
gyp ERR! stack Error: spawn ENOENT
gyp ERR! stack     at errnoException (child_process.js:1011:11)
gyp ERR! stack     at Process.ChildProcess._handle.onexit (c

[2015-03-02 14:35] pksunkara commented on #47
Please check if you python version is 2.7.3 or not. Apparently https://github.com/TooTallNate/node-gyp is particular about windows python version.

[2015-03-02 14:36] burkmiers commented on #47
Python 2.7.9

[2015-03-02 15:29] pksunkara commented on #47
So, can you try with the python 2.7.3? If it's still not working, please create an issue in https://github.com/TooTallNate/node-gyp which is the main repository for node-gyp.

[2015-03-02 15:51] burkmiers commented on #47
Python 2.7.3 was installed.
# wrote C:\Python27\lib\encodings\cp1252.pyc
Python 2.7.3 (default, Apr 10 2012, 23:24:47) [MSC v.1500 64 bit (AMD64)] on win32

Run "npm install bcrypt" command but I still got errors.
C:\DevPrograms\aglio-master\node_modules\bcrypt>node "C:\Program Files\nodejs\node_modules\npm\bin\node-gyp-bin\\..\..\node_modules\node-gyp\bin\node-gyp.js" rebuild
gyp ERR! configure e

[2015-03-02 16:06] burkmiers commented on #47
I will go to TooTallNate/node-gyp and ask for help. But thanks, pksunkara, for your help!

[2015-03-02 16:43] bappelt commented on #16
+1

[2015-03-03 03:24] #47 closed

[2015-03-03 03:24] pksunkara commented on #47
TooTallNate/node-gyp#585

[2015-03-04 15:49] mikevalstar opened #48 "Node 0.12 on Mac Support"
When attempting to build protagonist on Mac with node v0.12.0 and xcode 6.1.1 I get the following error:

    child_process: customFds option is deprecated, use stdio instead.
      CXX(target) Release/obj.target/libsnowcrash/snowcrash/src/CBlueprint.o
      CXX(target) Release/obj.target/libsnowcrash/snowcrash/src/CBlueprintSourcemap.o
      CXX(target) Release/obj.target/libsnowcrash/snowcrash/s

[2015-03-04 16:11] pksunkara commented on #48
@mikevalstar Protagonist 0.17.2 doesn't support node v0.12 yet. We have protagonist-experimental we are beta testing which do support it.

[2015-03-04 16:11] pksunkara commented on #48
Duplicate of #16

[2015-03-04 16:11] #48 closed

[2015-03-06 14:22] sadjow commented on #16
+1

[2015-03-09 08:22] 3mind- commented on #35
Sorry for the late reply.

I found time now to update Protagonist to version 0.17.2 as suggested, and the documentation generation is **working** now again. :+1:

I tried it locally as well as on the build-server (Jenkins) multiple times, until now without failures.

Thanks a lot!

[2015-03-11 13:59] 3mind- commented on #35
unfortunately I have to take my previous statement back.

it still fails roughly 50% of the time for me (without any changes to the markdown...)

[2015-03-11 14:11] zdne commented on #35
What fails. Can you describe it in more detail. Also please provide versions of windows, compiler, node, and node-gyp. Thanks.

[2015-03-12 11:20] njl07 opened #50 "node-gyp compilation failed"
Hello,

I want to use your plugin and when I try to install it, some errors occurred:

[code]

Can you help me on this issue?

Thanks.

[2015-03-12 16:43] pksunkara commented on #50
@njl07 You node.js version is 0.12.x. `protagonist` does not support node.js 0.11 or 0.12. We have a beta release at `protagonist-experimental` which does support them though.

Refer to #16.

[2015-03-12 16:43] #50 closed

[2015-03-12 19:15] zdne commented on #50
@njl07 note we will be releasing stable version of protagonist that supports io.js and node >= v0.11 in the course of few weeks (until then please use protagonist-experimental as @pksunkara suggests)

[2015-03-14 12:39] jwhitehorn commented on #16
Any ETA for an official release?

[2015-03-15 10:12] zdne commented on #16
@jwhitehorn less than two weeks

[2015-03-15 10:13] zdne commented on #16
Until then please use `protagonist-experimental` if possible

[2015-03-17 11:44] mansona commented on #16
Can you release it as a pre-release tag until then? https://github.com/npm/node-semver#prerelease-tags that way I can manually update sub-dependancies and have it still satisfy the version

[2015-03-19 15:06] lholmquist commented on #16
+1 to a pre-release

[2015-03-21 20:43] RHavar commented on #16
Yeah, pre-release would be much nicer

[2015-03-23 06:48] zdne commented on #16
We are looking into this. Either we will have stable release this week or we will switch to the pre-release. Thanks for your patience.

[2015-03-24 15:25] pksunkara commented on #16
We have released a pre-release of protagonist version `0.19.0-rc` today. You can install it using the following command

[code]

[2015-03-25 01:31] rick-li opened #54 "Install failed in windows with VC2013 express"
Hi, I tried to npm install protagonist, but failed, I tried to build from source but still failed with same errors:

Building the projects in this solution one at a time. To enable parallel build, please add the "/m" switch.
  libmarkdownparser.vcxproj -> c:\apps\projects\protagonist\build\Release\\libmarkdownparser.lib
  libsnowcrash.vcxproj -> c:\apps\projects\protagonist\build\Release\\libsnowc

[2015-03-25 14:17] klokane commented on #54
Which version of node you are runninng?

[2015-03-25 14:18] rick-li commented on #54
v0.12.0

[2015-03-25 14:23] klokane commented on #54
ok will check

[2015-03-25 14:54] pksunkara commented on #54
Hello @rick-li, The protagonist version 0.17.x and lower does not support node 0.12. You can use our pre-release version `protagonist@0.19.0-rc` or wait until we release protagonist to be able to run it on node 0.12.

[2015-03-25 14:54] #54 closed

[2015-03-25 14:54] pksunkara commented on #54
Duplicate of #16

[2015-04-13 16:43] ksmyth commented on #35
I can repro with node x64 v0.10.37, node-gyp 1.03, protagonist 60f2fbe9b, VS2010SP1, Win 8.1. protagonist.parse fails with an access violation, but only sometimes. (It seems to fail more often when you run outside of the debugger)

Please see:
https://gist.github.com/ksmyth/e631520577c6238166e1

Let me know if you need further info.

[2015-04-13 16:53] zdne commented on #35
@ksmyth hm this is worry some – any chance of getting a blueprint (snippet) that is causing this?

[2015-04-13 16:53] zdne commented on #35
The line

`00000000`2268d190 00007ffc`a0b49c0c protagonist!snowcrash::Reference::Reference+0xe2`

Should give us some clue tho – looks like the blueprint includes some model referencing?

[2015-04-13 16:55] ksmyth commented on #35
https://gist.githubusercontent.com/ksmyth/c35d0dc4d4b43fc1b6eb/raw/89d031480d20b242c248f5fa90de689c3e1870b9/gistfile1.txt is the input file.

[2015-04-23 00:02] zdne commented on #16
the latest protagonist `v0.19.x` supports node.js v0.10, v0.11, v0.12 as well as io.js

[2015-04-23 00:02] #16 closed

[2015-04-23 00:03] zdne commented on #25
Closing as outdated. Please try with latest protagonist and reopen if needed

[2015-04-23 00:03] #25 closed

[2015-04-24 03:28] eddiemoore opened #59 "segmentation fault error"
Trying to turn this into a grunt plugin. However when I am trying to run the ```protagonist.parse``` method I occasionally get a segmentation fault
[code]

This seems to be coming from snowcrash

**Running:**
node v0.12.2
grunt: v0.4.5

**To reproduce:**
[code]
**example.apib**
[code]

**Gruntfile.js**
[code]

**Run:**
[code]

This should display an error. However it just passes the test and occas

[2015-04-24 03:31] eddiemoore opened #60 "malloc error"
Running into a malloc error when run from grunt. Doesn't happen all the time, however it doesn't parse the api file at all
https://github.com/eddiemoore/grunt-protagonist/issues/1
[code]

**Running:**
node v0.12.2
grunt: v0.4.5

**To reproduce:**
[code]
**example.apib**
[code]

**Gruntfile.js**
[code]

**Run:**
[code]

This should display an error. However it just passes the test and occasionally

[2015-04-24 03:34] eddiemoore commented on #59
https://github.com/eddiemoore/grunt-protagonist/issues/2

[2015-04-24 04:50] pksunkara commented on #59
Hey @eddiemoore, the given blueprint is not giving any seg fault for me when trying to parse it with drafter.

[2015-04-24 04:51] pksunkara commented on #60
Similar to #59, this blueprint is working for me correctly in drafter.

[2015-04-24 05:29] eddiemoore commented on #59
It only happens on occasion.
But it's not even returning the output from protagonist.
Try running my example setup a few times

[2015-04-24 05:30] eddiemoore commented on #60
Did you try running my example setup?

[2015-04-24 12:47] eddiemoore commented on #60
@pksunkara What's the difference between protagonist and drafter?

[2015-04-24 12:48] pksunkara commented on #60
Drafter is the C++ parser which actually parses the API Blueprint. Protagonist is the node.js C++ module which wraps the result from drafter into node.js JSON.

[2015-04-24 12:51] eddiemoore commented on #60
and https://github.com/apiaryio/drafter.js ?

[2015-04-24 12:52] pksunkara commented on #60
It is an extra node.js module which expands the API Blueprint AST given by protagonist and used by Apiary. In the future, it's functionality will be moved to drafter.

[2015-04-24 13:03] eddiemoore commented on #60
So should I be using drafter.js instead

[2015-04-24 14:58] pksunkara commented on #60
No, you should use protagonist only. Drafter.js is being used inside Apiary for some other reasons.

[2015-04-24 15:01] eddiemoore commented on #60
Ok then please try my example stated above and you will see the problem.

[2015-04-24 17:20] zdne commented on #59
Thanks for the report @eddiemoore!  What OS you are on? if posix, can you please run `gcc -v` if Windows what MSVC are you using?

[2015-05-05 09:04] w-vi opened #61 "Is Release build really optimized?"
I've just looked at the gypi and gyp file and I can't find any cflags being set to `-O2`. Looking at the final gyp file in build I don't see any cflags at all so the compiler default is used which in case of clang and gcc is `-O0`. Have I missed something? If not wouldn't it be better to set release build to `-O2`?

[2015-05-05 16:13] zdne commented on #61
@w-vi I haven't experiment with it. Instead, since it is build by node-gyp instead of regular gyp this is relying on node.js / node-gyp settings. But some verification of what is actually happening seems like a good idea!

[2015-05-05 18:51] w-vi commented on #61
@zdne so I went to node-gyp and node.js sources to see how the whole thing is set up and node-gyp actually uses `-O3` as [common.gypi](https://github.com/joyent/node/blob/master/common.gypi) from node is always used when building with node-gyp. It sets the `Debug` flags to `-g -O0` too so no need for that either but what I'm now wondering about is whether the `common.gypi` from protagonist is not

[2015-05-07 08:21] w-vi commented on #61
I've verified that it is optimized indeed ... thanks for patience I've learnt a lot about the node build system. So closing this question.

**Proof**: `V=1 make` in build directory

` g++ '-D_LARGEFILE_SOURCE' '-D_FILE_OFFSET_BITS=64' '-DBUILDING_NODE_EXTENSION' -I/home/wvi/.node-gyp/1.8.1/src -I/home/wvi/.node-gyp/1.8.1/deps/uv/include -I/home/wvi/.node-gyp/1.8.1/deps/v8/include -I../drafter/src

[2015-05-07 08:21] #61 closed

[2015-05-07 16:50] zdne commented on #61
Thanks @w-vi for investigation!

[2015-05-18 13:50] LinusU opened #67 "parseSync"
Sometimes you need to parse the data on the main loop instead of in the background. I propose that we add `parseSync()` that does exactly that.

One use case is defining a `mocha` test for each endpoint in the blueprint.

[code]

[2015-05-18 13:52] foxx opened #68 "Output line/col in AST errors"
Extended from discussions [here][1], drafter has the ability to output line/col numbers instead of char index/length. Could we please add support for this in the protagonist bindings? Thank you

[1]: https://github.com/apiaryio/snowcrash/issues/325

[2015-05-21 03:11] zdne commented on #68
I am not quite sure where do you want to control this and how do you project this at all. In a principle I am not against it but do not really see the use case besides the CLI tool (similarly as in Drafter). Care to elaborate / add an example?

[2015-05-22 12:10] foxx commented on #68
Sure thing. Our use case is to generate HTML docs from blueprints, developers use a small script to compile (using Protagonist) and is also executed as part of the CI process. If there is a blueprint error, we would have to manually work out the line/col combinations by comparing the index/position against the original data blob. Although this can be achieved using 30 or so lines of code, it would

[2015-05-22 13:19] #67 closed

[2015-05-25 14:24] zdne commented on #68
It makes sense as a convenience function, yes. I would like to revamp source maps a bit more as we are moving to (spoiler alert) a [replacement of AST](https://github.com/apiaryio/api-blueprint-ast/issues/35#issuecomment-99130171) maybe this could be handled as part of that task.

[2015-05-28 04:12] eddiemoore commented on #59
I am on:
[code]

[2015-06-02 04:28] philsturgeon opened #71 "Error: connect ECONNREFUSED on CircleCI"
I'm trying to install dredd via `npm install -g dredd`. It's been working for months, but I tried updating versions of dredd, then rolled back to the same version and now this error is spitting out. Tried rebuilding without the cache and no joy there.

[code]

The contents of that log are [here](https://gist.githubusercontent.com/philsturgeon/f1631f0de1a3440b0b15/raw/gistfile1.txt).

[2015-06-02 11:25] zdne commented on #71
Hey @philsturgeon I wonder where the CircleCI is coming from.

I've just tried to install latest Dredd and seems to work OK:

[code]

Note this might be a question for @netmilk as this doesn't seem to be a problem with Protagonsit itself (both 0.19 and 0.20 install just fine for me).

Does the problem persist?

[2015-06-02 13:13] philsturgeon commented on #71
Retried the failing build this morning and its stopped. 

[2015-06-02 13:16] zdne commented on #71
I do not want to call names but I really dislike this `npm` thing...

[2015-06-02 13:16] zdne commented on #71
Either way, let us know if something. Closing.

[2015-06-02 13:16] #71 closed

[2015-06-02 13:16] philsturgeon commented on #71
0./

[2015-06-09 07:02] abtris opened #72 "Problem install 0.20 at mac (node 0.10.37, npm 2.10.1)"
[code]

npm-debug.log

[code]

[2015-06-09 08:51] pksunkara commented on #72
:open_mouth: I don't even know what happened. Is this a protagonist issue for sure?

[2015-06-09 08:53] abtris commented on #72
Can be problem in gcc 4.2.1 ?

[2015-06-09 08:55] abtris commented on #72
@pksunkara Can someone add BOM into sources? http://stackoverflow.com/questions/26788871/error-source-file-is-not-valid-utf-8

[2015-06-09 09:12] pksunkara commented on #72
@abtris I think this is a problem with gcc.

[2015-06-11 10:19] tbremeyer opened #73 "Installation of protagonist failed"
I am trying to install protagonist (as a prerequisite for aglio). However the installation fails with the following output:

[code]

Zdenek told me I need Visual Studio on my system. I do have Visual Studio 2013, but not VS 2010.

Can someone help me with this installation?

[2015-06-11 10:26] zdne commented on #73
Have you tried to build this from MSVC command prompt?

[2015-06-11 11:08] tbremeyer commented on #73
I just tried that, but I get the same error (only with a little different formatting).

[2015-06-11 13:03] tbremeyer commented on #73
I tried to upgrade the snowcrash solution with Visual Studio 2013, but I get build errors:
Error	1	error C1083: Cannot open source file: '..\ext\markdown-parser\src\ByteBuffer.cc': No such file or directory	C:\Users\torsten.bremeyer\Projects\Apiary\build\c1xx	libmarkdownparser
Error	2	error C1083: Cannot open source file: '..\ext\markdown-parser\src\MarkdownNode.cc': No such file or directory	C:\U

[2015-06-11 18:28] abtris commented on #72
Looks as clang 6.0.1 related problem. But I don't know any good solution.

[2015-06-12 10:09] abtris commented on #72
I try this and compile with gcc at mac works:
[code]
and patch file `drafter/ext/snowcrash/src/StringUtility.h` comment line 17 `// #include <locale>`

[2015-06-12 10:42] pksunkara commented on #72
Does commenting out header `locale` work with the original clang version?

[2015-06-12 10:46] zdne commented on #72
@klokane can you please look into this?

[2015-06-12 11:13] klokane commented on #72
@pksunkara @zdne I already look at it w/ @abtris what he wrote is result what we found.
Trouble is I'm not on mac to check it.

[2015-06-12 12:31] klokane commented on #72
I've used clear installation of mac with:

$ gcc --version
Configured with: --prefix=/Library/Developer/CommandLineTools/usr --with-gxx-include-dir=/usr/include/c++/4.2.1
Apple LLVM version 6.1.0 (clang-602.0.53) (based on LLVM 3.6.0svn)
Target: x86_64-apple-darwin14.3.0
Thread model: posix

Compiled w/o problem

$ npm install protagonist

Is OK too

[2015-06-12 12:32] pksunkara commented on #72
Okay, so it looks like it's an error with @abtris computer.

[2015-06-12 12:33] klokane commented on #72
Yee, probably some corrupted system include files?

[2015-06-15 18:39] XVincentX commented on #73
Hey @tbremeyer,
I just made a local test using **Windows 8.1**, **Visual Studio 2013**, **node 0.12.4**, **npm 2.10.1** and **Python 2.7**

Could you please share more information about your system configuration?
Thanks!

[2015-07-04 02:05] apimatic opened #75 "Error parsing some files."
Hi.

We are using protagonist 0.19.3 on NodeJS 0.10.2 on Windows 32bit machine. Every now and then we get a file that refuses to parse properly, but the same file parses correctly on the parser hosted on apiblueprint.org. For example the following:
http://docs.wink.apiary.io/
http://docs.ulozenkav3.apiary.io/

Could it be a configuration issue on our server? Can you tell what version is being used

[2015-07-13 19:04] sheshmantha opened #76 "npm test fails"
Hi,
Loaded protagonist and tried `npm test`.   First it complained that mocha "is not recognized".  Did an `npm install -g mocha`.  Then re-ran test and now am getting the following error.
[code]
How to fix this?  What am I missing?  How to check for what I could be missing ?

Thanks,
S-

[2015-07-13 19:49] pksunkara commented on #76
You need to run `npm install` to install all the dependencies.

[2015-07-13 20:06] sheshmantha commented on #76
oh! cool -- thank you.  that worked.

[2015-07-13 20:06] #76 closed

[2015-07-21 12:02] zdne commented on #75
Hey @apimatic the API parsing service is using protagonist v0.20.1 at the moment. You can see its sources [here](https://github.com/apiaryio/apiblueprintorg/blob/master/).

In the past there were some reports of errors on Windows however we weren't able to reproduce them. Any help to get this squashed would be highly appreciated!

[2015-07-27 13:39] pksunkara commented on #72
@abtris Is this fixed?

[2015-07-27 13:41] abtris commented on #72
Yes, you can close. We don't find solution.

[2015-07-27 13:42] #72 closed

[2015-07-30 13:34] kylef opened #77 "Improve installation time for CI services"
Currently Protagonist (dredd) takes around a minute to install on CI services such as Travis CI and Circle CI which add considerable overhead to testing times where the tests take a few seconds to run.

Installing dredd increases the CI time by over a minute, which in my particular case ([Polls API](https://github.com/apiaryio/polls-api)) causes a **23 times** slowdown for the CI builds where my t

[2015-07-30 13:48] kylef commented on #77
Not to mention, this would speed up the build times for dredd and apiary too by over a minute.

[2015-07-31 08:45] zdne commented on #77
I would like us to NOT provide binary installation.

Another solution in a future would be to use a "remote API Blueprint" adapter in Fury.js that will be calling API Blueprint parsing API (and thus it won't need protagonist / binary)

[2015-08-04 12:19] Gingonic commented on #73
Could you explain me why protagonist needs to rebuild node-gyp? This realy blocks the usage of aglio for example, as every developer would have to install visual studio on it's local machine just to install that one module.

[2015-08-04 12:26] XVincentX commented on #73
@Gingonic
Protagonist does not need to rebuild node-gyp. It uses node-gyp to build the sources according to your machine architecture and set compiler.

But I agree with you that providing prebuilt binaries would help a lot of people to use protagonist without having to install several developer tools. I am thinking about [node-pre-gyp](https://www.npmjs.com/package/node-pre-gyp). What is your tho

[2015-08-05 08:55] zdne commented on #73
@XVincentX unfortunately providing binary installation on Windows was and still is a huge issue do to (in)compatibility of runtime libraries amongst differ Windows versions.

[2015-08-12 09:46] danielgtaylor opened #81 "Support nodejs 3.0 and 4.0"
I'm seeing build failures on CI hosts using the recently released iojs 3.0.0:

https://travis-ci.org/danielgtaylor/aglio/jobs/75231420

The issue seems to be related to nan. This other project is moving to nan 2.x to fix a similar issue:

https://github.com/Automattic/node-canvas/issues/606

[2015-08-18 20:19] seglo opened #82 "Navigating to an index reported by warnings"
Hey,

I have a large API document that I'm using `hercule` to transclude together.  I'm using `aglio` to generate documentation and it's working, but I get warnings that are from `protagonist`.  I would like to troubleshoot the warnings it's describing, but I don't know how to make use of the information it gives me.

In the `protagonist` readme it says a warning index represents:

But for a warni

[2015-08-18 20:30] seglo commented on #82
This appears to be a duplicate of https://github.com/apiaryio/protagonist/issues/68

[2015-08-19 08:35] zdne commented on #82
Hey @seglo you can get to the the col:row syntax by either counting it manually or using the [Drafter CLI tool](https://github.com/apiaryio/drafter#command-line-tool).

However with the file being concatenated by Hercule into one big blob the information won't be really helpful. Basically what is needed there is another source map, mapping positions from the concatenated blob to original files.

H

[2015-08-19 13:39] seglo commented on #82
The problem isn't so much the transclusion, although I agree that's something else that should be addressed upstream.  I can export my transcluded document and lookup offsets, it's just an inconvenience because I'm not using `drafter`, I'm using `aglio` with makes use of `protagonist` directly.  My workaround is to use vim to look at the transcluded document and then `goto: [offset]`.

[2015-08-20 10:05] zdne commented on #82
@seglo I see. Generally I would suggest it is up to the tool using blueprint parser (drafter or protagonist) to utilize the source maps in a certain way. Following this principle I'd ask for this feature in Aglio..

[2015-08-22 06:13] yakovkhalinsky opened #83 "Supporting MSON via Attributes"
Are there any plans to add support for parsing MSON format via Attributes?

It's been noted that previously in Drafter.js that MSON is parsed by the same Blueprint API files are not parsed the same way via Protagonist.

Are there any plans to introduce this functionality back into Protagonist?

I notice that Dredd also still uses Drafter.js: https://github.com/apiaryio/dredd/blob/master/src/dredd.

[2015-08-22 08:13] hendrikmaus commented on #83
I would also like to be enlightened on the plans regarding protagonist. As far as GitHub can tell, drafter.js deprecates in favour of protagonist. But the latter does not seem to offer a congruent feature set as @yakovkhalinsky points out. Cheers

[2015-08-22 19:36] pksunkara commented on #83
@yakovkhalinsky Drafter.js tool uses Protagonist which uses C++ Drafter.

The purpose of C++ Drafter is to parse the API Blueprint. And Protagonist is the Node.js module wrapping C++ Drafter. Drafter.js is a Node.js module which expands the MSON AST in the API Blueprint AST and renders the sample body and schema.

So, if you want to see the sample body and schema, you have to use drafter.js and no

[2015-08-22 19:42] pksunkara commented on #83
Please keep in mind that by we are also making [API Description Namespace](https://github.com/refractproject/refract-spec/blob/master/namespaces/api-description-namespace.md) the default output in the above mentioned release. You guys can still access the old API AST using an option.

[2015-08-24 11:14] zdne commented on #83
Hey @yakovkhalinsky I've tried to explain the current situation here – https://github.com/Aconex/drakov/issues/60#issuecomment-134155329 – does this answer your question?

[2015-08-24 11:16] yakovkhalinsky commented on #83
thanks guys, I appreciate the clarification :+1:

[2015-08-31 12:33] IvanGoncharov commented on #77
This issues cause severe problems in my use case, because I need to do `npm install` twice.
What about using standart Node.js approach, [node-pre-gyp](https://github.com/mapbox/node-pre-gyp)?

[2015-09-09 12:30] Freundschaft commented on #81
yes also it doesnt work right now with nodejs 4.0 as far as i can see

[2015-09-09 14:53] pksunkara commented on #81
Ah, we need to fix this using nan.

[2015-09-09 16:23] splodingsocks commented on #81
What's the preferred way for you to know when issues are important to other people? I don't want to spam with +1 here, but I'm interested in throwing in my vote for attention to this issue. I'd love to move to Node 4.0 when possible. Thanks so much for all your work!

[2015-09-09 16:30] pksunkara commented on #81
@splodingsocks Using +1 is perfectly okay with us. :smile:

We are working on an important release first and would prefer to not do this until that. Any contributions are welcome though. We have to update the `nan` package version and fix any issues (most probably none) that rise up.

[2015-09-09 16:34] splodingsocks commented on #81
Okay, great! I wish I were able to dive in right now and figure out how to do this, never having compiled native extensions before. If I'm able to, I'll post back here. If not, I'll just be patient :)

Thanks again!

[2015-09-10 06:34] xiphiaz commented on #81
+1 This is causing issues with travis ci failing to compile (tried base travis confi, 0.12 & 4.0.0)

[2015-09-12 17:07] ChALkeR commented on #81
Adding to the list: https://github.com/nodejs/node/issues/2798.
You have to update `nan` to v2.

[2015-09-21 10:08] tobiashm commented on #81
I've made a PR #90 with an upgrade to Nan 2.0
This was done mostly using a script. It seems to be working fine on my machine with Node 4.0 and 4.1, but it currently fails on the CI builds, so I'm a bit lost on what's wrong.
If anyone has more knowledge about the code could take a look, that would be great, because I actually don't know what I'm doing here :-) I'm not a C/C++ developer.

[2015-09-21 10:34] ChALkeR commented on #81
@tobiashm Travis builds are failing because they use gcc 4.6, while the minimum supported gcc version is 4.8. Travis config has to be changed.

[2015-09-21 10:51] zdne commented on #81
So upgrading to support Node.js 3+ implies we discontinue supporting systems with GCC 4.6? /cc @klokane

[2015-09-22 17:03] jmdacruz opened #91 "Installation of protagonist is failing on Mac OS X (while trying to install aglio)"
I recently tried to update aglio and started getting some ugly error messages. As a result, I decided to configure my node installation on my Mac (using Brew) so that npm is installed independently (instead of installed via Brew) to see if this would change anything, but it didn't. This is my environment:

[code]

This is what I'm getting while trying to install aglio (Node packages are installed

[2015-09-22 17:18] jmdacruz commented on #91
If I understand correctly, this is related to the breaking changes on Node 4.0.0 (related to the Nan library). I guess the alternative is to revert back to an older Node version until this gets fixed.

[2015-09-22 18:47] kylef commented on #91
That's correct, as shown in the readme, protagonist only supports node ~0.8.15, 0.10.x, 0.12.x and iojs v1.x.x at this time.

There is a pull request at #90 to add support for newer versions of node such as 4.0.

Closing as a duplicate of #81.

[2015-09-22 18:47] #91 closed

[2015-09-22 18:49] kylef commented on #75
@apimatic Did you manage to solve this problem?

[2015-09-22 23:11] apimatic commented on #75
Unfortunately no.

[2015-09-24 10:14] trodrigues commented on #81
Not a big deal but also ran into this using https://www.npmjs.com/package/aglio

[2015-09-24 10:38] ChALkeR commented on #81
@So upgrading to support Node.js 3+ implies we discontinue supporting systems with GCC 4.6? /cc @klokane

No, it doesn't. Afaik, your package will work with old gcc and old node, with new gcc and old node, with new gcc and new node, _but not with old gcc and new node_. Without this patch, your package doesn't work with new node at all.

[2015-09-24 10:51] klokane commented on #81
I'm going to decide about supported versions of compilers in next week, make some testing and we will see

[2015-09-24 11:05] ChALkeR commented on #81
Not quite sure what are you going to decide on. Node.js 4.0 won't compile with GCC 4.6.
In order to compile with Node.js 4.0, one should use a more recent gcc version.

[2015-09-24 11:19] klokane commented on #81
Thanks for link.

We are thinking about drop support of older version compilers and allow some subset of C++ 11 features in drafter/snowcrash codebase.

[2015-09-24 15:08] khaliddermoumi opened #92 "Validation results?"
Hi,

since protagonist is replacing drafter, I have expected to get some validation information from protagonist (like the "warnings"-array of drafter).
But no matter how broken the input is I am feeding protagonist with, it never complains and there is no indication of any error.
How do I get validation information?
(I am using 1.0.0)

Regards and thanks for your work,
k

[2015-09-24 16:27] pksunkara commented on #92
@khaliddermoumi We are currently working on adding it to protagonist.

[2015-09-24 18:35] khaliddermoumi commented on #92
Thanks for your answer! Any idea when approx. the feature will be released?

[2015-09-24 20:46] igrayson commented on #81
Looking forward to using 4.0, so +1

[2015-09-25 10:38] lessless opened #93 "Build failed with error: redefinition of '_NanEnsureLocal'"
[code]

[2015-09-25 12:01] pksunkara commented on #93
Please keep in mind that protagonist doesn't support nodejs v4 yet. Marking this as duplicate of #81

[2015-09-25 12:01] #93 closed

[2015-09-25 23:07] zanuka commented on #81
:+1:

[2015-09-25 23:11] fesor commented on #81
:+1:

[2015-09-28 11:04] dkcwd commented on #81
:+1:

[2015-09-28 11:52] #92 closed

[2015-09-28 17:14] RapsIn4 commented on #81
:+1:

[2015-09-29 15:23] tbostelmann commented on #81
:+1:

[2015-09-29 20:49] tobiashm commented on #81
There's a lot of support for this issue. If anyone could take a look at #90 and help sorting out the last issues, we might be able to close it :smile_cat:

[2015-09-30 03:18] pksunkara commented on #77
@IvanGoncharov Can you describe your use case a bit more? I don't understand why you need to do npm install twice.

[2015-09-30 10:14] IvanGoncharov commented on #77
@pksunkara Travis use two separate environments to run test and deploy scripts.
In both cases I use the same scripts which depend on this lib.
So travis run `npm install` twice :(

[2015-10-01 05:12] artlogic commented on #81
:+1:

[2015-10-01 10:03] kalugen commented on #81
:+1:

[2015-10-02 21:48] zachgersh commented on #81
:+1:
Just hit this today with v4.1.1.

[2015-10-03 19:07] voor opened #95 "Build Failing on Node v4.1.1"
[code]

And here are the compile errors from protagonist (sorry for pasting them directly, GitHub won't let me attach the file for some reason):
[code]

[2015-10-04 15:38] natdm commented on #81
Hitting it with rpi-gpio. 4.1.1.

[2015-10-05 03:51] pksunkara commented on #95
Duplicate of #81

[2015-10-05 03:51] #95 closed

[2015-10-07 18:41] tobiashm commented on #81
Since #90 has been merged, this issue could now be closed.
So now we are just awaiting a new release version ;-)

[2015-10-07 21:48] iam-merlin commented on #92
@khaliddermoumi I think this should be open while this feature is not release for tracking.

[2015-10-08 00:47] pksunkara commented on #92
This has been fixed in master now.

[2015-10-08 02:33] pksunkara commented on #81
The master branch now supports nodejs 3.0 and 4.0. We still need to fix a few bugs in apiaryio/drafter and release protagonist.

[2015-10-08 10:47] iam-merlin commented on #92
@pksunkara good to know :D, thx

[2015-10-13 01:31] rmondragon opened #96 "Makes dredd installation failed"
Hi,

$ npm install -g dredd
shows an error when it tries to build protagonist.

I tried to install just protagonist after that and shows the same errors

===
Python 2.7.9
node 4.1.2
osX "Capitan"

===

[code]

[2015-10-13 01:42] pksunkara commented on #96
Duplicate of #81

[2015-10-13 01:42] #96 closed

[2015-10-14 13:30] m-baumgartner opened #97 "Cannot install on Win7 (x64) with VS 2015 installed"
Trying to compile (as part of the `aglio` installation) fails on my station.

I have
* Windows 7 Pro 64bits.
* Visual Studio community 2015
* npm v2.14.7

I tried using `--msvs-version=2015`,  same result.
I tried setting `msvs-version 2015` in my global npm settings, same result.

Any suggestions?

[2015-10-14 15:08] m-baumgartner commented on #97
Just tried with Visual Studio community 2013 and `--msvs-version=2015`, same result.

[2015-10-14 15:24] m-baumgartner commented on #97
I tried with `npm v3.2.2` as suggested [here](https://github.com/nodejs/node-gyp/issues/629#issuecomment-138276692) and it passed !!

 ...Unfortunately for me it failed a bit further when compiling `bufferutil`. Let's investigate on this now...

[2015-10-14 20:59] cleechtech commented on #93
I used n to get rid of an error: https://github.com/tj/n. Going to 4.2.1 from 4.2.0 was the fix for me

[2015-10-15 02:37] pksunkara commented on #97
@m-baumgartner Protagonist on npm doesn't support node 3 and 4 yet.

[2015-10-15 02:38] pksunkara commented on #97
Can you give us a part of the log?

[2015-10-15 08:54] soupdiver opened #98 "npm install protagonis build error on OSX 10.10.5"
This error seems to come up from time to time

[code]

Running OSX 10.10.5 and node `v4.1.2`

[2015-10-15 11:31] pksunkara commented on #98
Duplicate of #81.

[2015-10-15 11:31] #98 closed

[2015-10-15 11:42] m-baumgartner commented on #97
Here is what I have now done :
* Spin up a new Win7 x64
* Install Windows 7 SDK
* Install Visual Studio Express 2013
* Install node with the built in npm version `v2.14.7`
* run `npm install -g aglio`
-> failed during node-gyp protagonist@0.20.1
Got the following npm-debug.log

35200 verbose unlock done using C:\Users\Dev\AppData\Roaming\npm-cache\_locks\less-006083667cf0e1b0.lock for C:\Users\Dev

[2015-10-15 15:11] rvlander commented on #81
Any idea of when it will be released?

[2015-10-15 15:16] pksunkara commented on #81
@rvlander We are working on this. There are a few changes which need to be made to Drafter before this can be done.

[2015-10-16 08:33] pksunkara commented on #97
This looks like it's an issue when building protagonist using `node-gyp`. Do you have Python 2.7.9 installed?

[2015-10-16 08:38] m-baumgartner commented on #97
I have the x64 version of python 2.7.10

[2015-10-16 09:29] m-baumgartner commented on #97
FYI, I tried with a 32bit version of python 2.7.10. Sill fails

[2015-10-19 10:05] m-baumgartner commented on #97
Any suggestions?

[2015-10-21 17:42] kylef commented on #97
Hi,

Sorry for the delay in responding. As @pksunkara mentioned before, Node 3/4 isn't yet supported. It will be in the next release of Protagonist. For now you will need to use older versions.

The above output you pasted shows this was from node v4.

[code]

There are two options you have at the moment:

- Use an older version of node.
- Build aglio and protagonist from source on GitHub. The mas

[2015-10-21 17:43] kylef commented on #97
Closing as a duplicate of #81.

[2015-10-21 17:43] #97 closed

[2015-10-22 07:10] kadishmal commented on #81
:+1: Can't upgrade `aglio` due to this issue.

[2015-10-22 15:21] ye commented on #81
:+1:  I guess this issue is the root cause of this one https://github.com/danielgtaylor/aglio/issues/183

[2015-10-23 16:59] kylef commented on #81
Thanks for your patience everyone. Protagonist 1.1.0 now supports Node 3 and Node 4.

**NOTE**: Any tooling such as Aglio will need to be moved to use Protagonist 1.1.0.

[2015-10-23 16:59] #81 closed

[2015-10-23 17:31] artlogic opened #100 "gyp: drafter/drafter.gyp not found"
When trying to install the latest release (1.1.0) with npm, I receive this error:

[code]

[2015-10-23 20:48] catesandrew commented on #100
+1 same thing

[2015-10-23 20:51] accidentaldevelopment commented on #100
+1 same here

[2015-10-23 21:37] Silvercast commented on #100
+1

[2015-10-23 23:40] kylef commented on #100
Sorry about this. We're looking into this and will create an update to solve the problem soon.

[2015-10-23 23:41] hwestbrook commented on #100
+1

[2015-10-25 19:49] zanuka commented on #81
:+1:

[2015-10-26 11:00] rvlander commented on #100
+1

[2015-10-26 16:18] #100 closed

[2015-10-26 16:28] danielgtaylor commented on #100
@artlogic @catesandrew @accidentaldevelopment @Silvercast @hwestbrook @rvlander this should now be fixed in the 1.1.1 patch release. Please try it out and let us know if there are any other issues!

[2015-10-26 17:06] artlogic commented on #100
@danielgtaylor - works with node 4.2.1 - thanks!

[2015-10-26 17:45] catesandrew commented on #100
working with v4.2.1 here too, thanks!

[2015-10-29 13:09] catesandrew commented on #83
The mson refract is not correctly parsing right now as of v1.1.1. With `refract` I get this:

[code]

And with `ast` I get it parsed correctly as this:

[code]

Moving to `refract` which looks awesome is broken so makes it extremely difficult to migrate to. The above are from a very simple example of data structures

[code]

[2015-10-30 14:11] pksunkara commented on #83
Actually, the old AST is also giving the same thing.

[code]

You have extra starting spaces on the last 2 lines of your document which is causing this.

[2015-10-30 14:15] pksunkara commented on #83
I am also closing this issue since it's been resolved.

[2015-10-30 14:15] #83 closed

[2015-11-03 16:48] ScotterC commented on #81
@ChALkeR thanks for this comment https://github.com/apiaryio/protagonist/issues/81#issuecomment-142887797. I had GCC 4.6 and Node 4 and it wasn't working. Downgrading to Node 0.12 fixes the protagonist compilation if you can't upgrade GCC

[2015-11-03 23:08] ChALkeR commented on #81
@ScotterC I don't recommend downgrading to 0.12.

[2015-11-20 15:46] voor commented on #73
Hey guys, I know this is about Windows installation, but I wanted to point out we might be having a similar issue on more recent Linux kernels:

[code]

[2015-11-21 06:18] pksunkara commented on #73
@voor That error log is about a different issue which occurred in our latest release. We will be fixing it soon and give a new release.

[2015-12-21 03:34] netmilk opened #113 "MSONs from Data Structures are not rendered"
JSON schemas from MSONs discussed under `Data Structures` section are not rendered properly after porting [Dredd][dredd] to latest `protagonist` from [drafter.js][drafterjs]

Blueprint
[code]

**Before (drafter.js, dredd@1.0.1)**
[code]

**After (protagonist, dredd@1.0.2)**
[code]

[dredd]: https://github.com/apiaryio/dredd
[drafterjs]: https://github.com/apiaryio/drafter.js

[2015-12-21 10:13] kylef commented on #113
I think https://github.com/apiaryio/drafter/pull/199 will solve this.

[2015-12-21 11:45] w-vi commented on #113
Yes, exactly.

[2015-12-28 14:38] pksunkara commented on #113
That PR is merged now. This issue should be solved as soon it is propagated to protagonist.

[2016-01-04 23:49] romansklenar opened #115 "Installing issues @Ubuntu + Node v4.2.x"
protagonist@1.2.3 installation fails on Ubuntu using Node v4.2.x when installing protagonist as dredd@1.0.2 dependency

[code]

More info: https://gist.github.com/romansklenar/a2f3813b87bca2cd95b9

[2016-01-05 10:47] w-vi commented on #115
@romansklenar  thanks for the report, just curious how much memory has the vagrant box, as gcc internal errors are very rare and very often it is a not enough memory problem.

[2016-01-05 12:34] kylef commented on #115
Unrelated to GCC crashing, however NPM is also failing in the second log due to permissions problem. NPM is ran as a user that doesn't have permission to install globally (due to the `-g` option it's installing in `/usr/lib/node_modules`).

[code]

[2016-01-05 12:50] romansklenar commented on #115
NPM `-g` installation was easily fixed with using sudo but installation still failed.
@w-vi was right, it was a memory related problem. Vagrant box had just 512MB of RAM, after I increased it to 768MB, I was able to install dredd and it's dependencies including protagonist.

Thank you for your help, you can consider this issue closed.

[2016-01-05 14:07] kylef commented on #115
Thanks @romansklenar, glad we figured it out.

[2016-01-05 14:07] #115 closed

[2016-01-05 16:48] w-vi commented on #113
Using latest drafter it seems fixed and protagonist has been released, please @netmilk verify that it works for you.

[code]

[2016-01-06 12:27] hannesvdvreken commented on #115
Having the same issues, except on a 1GB server. How feasible is it to

- downscale memory footprint of the build fase
- package with pre-built node bindings
- make a pure JS implementation (can you point me to documentation that explains why this needs compiling?)

Having to upscale a 1GB server for hosting static files seems... unproductive.

[2016-01-07 04:17] jordan-wright opened #116 "Segmentation fault when more than 16 data structures"
This is referenced in https://github.com/danielgtaylor/aglio/issues/213.

Specifically, using the test file in the gist from that issue and the following script:

[code]

We get a segmentation fault. Here is the segmentation fault I received on my instance:

[code]

Settings:

[code]

[2016-01-07 17:40] jordan-wright commented on #116
Closing, as this appears to be an issue with drafter, not protagonist:

https://github.com/apiaryio/drafter/issues/207

[2016-01-07 17:46] wadey commented on #116
@jordan-wright The submodule in this repo for drafter still needs to be updated to the fixed version.

[2016-01-07 18:09] jordan-wright commented on #116
Good point. I'll go ahead and re-open until the submodule is updated.

[2016-01-10 19:16] jordan-wright commented on #116
Does anyone know when this will get updated? Are we waiting on drafter to release an updated version?

[2016-01-10 19:40] w-vi commented on #116
@jordan-wright: Tommorrow, on Monday before lunch GMT

[2016-01-11 10:55] kylef commented on #116
Protagonist 1.2.4 is now out (https://github.com/apiaryio/protagonist/releases/tag/v1.2.4).

[2016-01-11 10:55] #116 closed

[2016-01-11 12:11] jordan-wright commented on #116
Excellent, thanks @kylef and team!

[2016-01-11 14:42] pavelkornev commented on #73
@pksunkara any updates? I have same issue on OSX 10.11, npm 3.5.2, node 5.3.0

[code]

[2016-01-11 15:37] aichholzer opened #119 "1.2.4 is broken"
With the latest version `1.2.4`, `npm install protagonist` fails with error `gyp: drafter/drafter.gyp not found` - Tested with many of the supported Nodejs versions.

`npm install protagonist@1.2.3` works as expected.

[2016-01-11 15:58] kylef commented on #119
Resolved by [protagonist 1.2.5](https://github.com/apiaryio/protagonist/releases/tag/v1.2.5).

[2016-01-11 15:58] #119 closed

[2016-01-11 16:00] kylef commented on #73
@pavelkornev please try again now, released [protagonist 1.2.5](https://github.com/apiaryio/protagonist/releases/tag/v1.2.5) which should resolve your problem.

[2016-01-11 17:14] aichholzer commented on #119
:+1:

[2016-01-11 19:02] pavelkornev commented on #73
@kylef that works! Thanks for a quick fix.

[2016-01-13 02:56] pksunkara commented on #113
I am closing this issue now. If you find any issues in dredd, please make an issue there.

[2016-01-13 02:56] #113 closed

[2016-01-13 19:40] dm-ptp opened #120 "protagonist 1.2.5 installation fails on OSX"
Using node 4.2.4 on OSX, building aglio, I end up with the following error:

[code]

I attempted to build protagonist and install it from Github, but that failed with the same error. Are there some dev tools I need to install that I'm missing somewhere?

[2016-01-13 22:17] pksunkara commented on #120
Protagonist is a Node.js C++ binding. The binding is compiled using a C++ compiler before it is installed. The log suggests that your system local tools doesn't work for C++ compiling.

Please make sure that you can compile https://github.com/apiaryio/drafter locally first.

[2016-01-13 23:02] dm-ptp commented on #120
Did some digging and found this: https://github.com/Homebrew/homebrew/issues/40653

Which suggests that I need to update XCode to 7.0+. I'm going to give that a try and take a flyer that that'll fix my issue. Thanks!

[2016-01-13 23:02] #120 closed

[2016-01-19 15:39] kylef opened #121 "Fix installation on windows"
Since some of the API Blueprint editor plugins (such as for Atom) depend on Protagonist, more and more people are trying to use Protagonist on Windows and having difficulties getting it installed. I think Aglio and Dredd also get various support requests related to Protagonist on Windows.

I'm not sure how to address this exactly, but here are some thoughts:

- Clear documentation on Windows depen

[2016-01-19 16:28] w-vi commented on #121
Just curious as I have no knowledge on the topic, but can we actually distribute an installer? So no more need for compiler etc? I don't know if that works with node.js extensions but it would solve a lot of the hassle

[2016-01-19 16:32] kylef commented on #121
@w-vi I have a feeling that won't be possible. For example, Atom bundles node itself. The installation instructions for [Atom linter plugin](https://github.com/zdne/linter-api-blueprint) are simply:

[code]

From what I can make out, Atom/Node will build it's dependencies.

[2016-01-19 16:36] w-vi commented on #121
I see, building stuff from source is a *NIX thing it never worked well on Windows so it probably never will be easy.

[2016-01-19 16:39] w-vi commented on #121
Or, can we make the `npm` package to include a prebuilt binary or have some extra package inlcuding the binary or something along these lines?

[2016-01-21 19:47] JefStat opened #122 "Node-gyp Couldn't compile"
[npm-debug.txt](https://github.com/apiaryio/protagonist/files/99773/npm-debug.txt)

(node) child_process: options.customFds option is deprecated. Use options.stdio instead.
gyp: /Users/user/.node-gyp/5.4.1/common.gypi not found (cwd: /Volumes/TERRA/projects/project/node_modules/dredd/node_modules/protagonist) while reading includes of binding.gyp while trying to load binding.gyp
gyp ERR! configure

[2016-01-21 20:04] kylef commented on #122
@JefStat Can I confirm if you have Xcode and/or Xcode Command Line tools?

You should be able to confirm with:

[code]

[2016-01-21 20:12] JefStat commented on #122
@kylef that's the fix must of missed reinstalling the command line tools after an osx or xcode upgrade.

[2016-01-27 11:31] zdne commented on #121
I am running into the same issues. Trying to get more data.

[2016-01-27 12:03] zdne commented on #121
No additional info from atom logs. Failed to locate where `$apm install` puts logs from the actual `npm` call.

Here is the output from `apm install --verbose linter-api-blueprint`:

[code]

[2016-01-27 12:28] zdne commented on #121
Also I would argue that the title should be "fix" (not "improve") the installation

[2016-02-09 14:53] kylef commented on #122
Great :ok_hand: !

[2016-02-09 14:53] #122 closed

[2016-02-17 21:30] peter-quinton opened #126 "Unable to build on Nodejs 4.3.1 on Centos 6.7"
This builds successfully on node 0.12.9.  However on node 4.3.1, the following happens

npm --version
2.14.12
node --version
v4.3.1

gcc --version
gcc (GCC) 4.4.7 20120313 (Red Hat 4.4.7-16)
Copyright (C) 2010 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

make --

[2016-02-18 07:11] w-vi commented on #126
@peter-quinton Thanks for the report, at first look I suspect youare using too old version of gcc, node.js 4.3.1 requires gcc 4.8 or newer, see  the readme https://github.com/nodejs/node/blob/v4.3.1/README.md#build .
Please try it with gcc 4.8 or newer.

[2016-02-19 04:41] peter-quinton commented on #126
Thank you for the pointer, I didn't notice the gcc requirement for node 4.3.1
Here are the steps I had to take to fix the issue on my centos 6.7 distributation

as root
[code]

Found these instructions at http://braaten-family.org/ed/blog/2014-05-28-devtools-for-centos/

Please close the ticket.

[2016-02-19 06:17] w-vi commented on #126
Cheers for posting how to fix it.

[2016-02-19 06:17] #126 closed

[2016-02-23 13:33] zdne commented on #121
This issue seems to be caused by the bundled `node-gyp` with the combination of MSVS2015. If that is the case running `set GYP_MSVS_VERSION=2015` before `npm install protagonist` (or any other native tool really will do the trick.

See

https://github.com/nodejs/node-gyp/issues/629

and

https://www.serverpals.com/blog/building-using-node-gyp-with-visual-studio-express-2015-on-windows-10-pro-x64

[2016-02-23 22:46] BobbieBarker opened #127 "Linux npm install protagonist -g fails."
Trying to get apiary with api-mock running on my machine. Keep getting install errors for protagonist:

[code]

[2016-02-23 23:03] BobbieBarker commented on #127
update,
npm install protagonist -g -f
worked. I'm thinking it maybe my cache. (Note I did try to clear my cach before -f install).

I'll leave the issue open so the maintainer can decide what to do with it.

[2016-02-24 08:52] w-vi commented on #127
Hey, it looks like you have no g++, what distro are you using? If ubuntu or similar you need to install `build-essential` package.

[2016-02-24 19:12] dhoffman34 opened #128 "Install fails on Centos 6.7, 64-bit"
I am trying to run `npm install -g dredd` on our CI server. It fails with this output:  https://gist.github.com/dhoffman34/34397b9b8a4f22a1f28a

Any ideas on how to fix this issue?

[2016-02-24 19:17] w-vi commented on #128
CentOS has by default pretty old gcc, please  see https://github.com/apiaryio/protagonist/issues/126 for more details.

[2016-02-24 20:36] dhoffman34 commented on #128
Ah, I got it working now.  Thanks!

[2016-02-24 23:56] #128 closed

[2016-02-25 17:03] udoprog opened #129 "Issues when defining enum type in Data Structures"
[code]
Output:
[code]

[2016-02-25 17:30] kylef commented on #129
That's a very strange error message.

Seems to be a problem using the `members` type separator in an enum.

If you're looking for a short-term workaround while we resolve the problem, removing the members separator should act as a workaround:

[code]

[code]

[2016-03-03 19:09] FrankyBoy commented on #121
So much +1, it's ridiculous that I need to install both python as well as visual studio (with the proper options set!) to get a nodejs package to install!

[2016-03-04 05:07] hafael commented on #127
OSX 10.10.5
node 5.3.0
npm 3.8.1

$ npm install -g protagonist

CXX(target) Release/obj.target/protagonist/src/parse_async.o
../src/parse_async.cc:134:15: warning: 'FatalException' is deprecated: Use
      FatalException(isolate, ...) [-Wdeprecated-declarations]
        node::FatalException(try_catch);
              ^
/Users/rafael/.node-gyp/5.3.0/include/node/node.h:283:29: note: 'FatalException'

[2016-03-04 11:59] zdne commented on #121
@FrankyBoy depends on what you are after you might use `drafter.js` as a drop in replacement for protagonist (same intefrace, JS only, much much slower but hopefully faster to install).

https://www.npmjs.com/package/drafter.js

[2016-03-07 17:30] BobbieBarker commented on #127
@w-vi you where right about the missing build-essential package.

[2016-03-08 07:04] #127 closed

[2016-03-08 08:18] peterkomar opened #131 "Failed to build protagonist on node.js 5"
[code]

[2016-03-09 10:43] w-vi commented on #131
@peterkomar Hi ot looks like you are using unsupported version of compiler, Are you on RHEL or CentOS or similar? You need at least gcc 4.8 or clang 3.4, please see the requirements in the [node README](https://github.com/nodejs/node/tree/v5.x#unix--macintosh)

[2016-03-09 13:42] kylef commented on #131
According to the error long this compiler used was GCC 4.4.7, so that will need to be updated.

[2016-03-09 13:51] peterkomar commented on #131
@w-vi I use CentOS 6.5

[2016-03-09 14:34] w-vi commented on #131
@peterkomar please have a look at this issue how to get it working.

[2016-03-09 14:37] peterkomar commented on #131
Thanks, update gcc compiler to new helped

[2016-03-09 14:37] #131 closed

[2016-03-09 17:02] honzajavorek opened #133 "Include statement doesn't produce correct assets if attributes are defined in resource and referenced from payload or action"
[This Dredd build](https://travis-ci.org/apiaryio/dredd/jobs/111707928) shows that some assets are not rendered correctly when using Include statement while attributes are defined in resource and referenced from payload or action. See my report in https://github.com/apiaryio/dredd/issues/354#issuecomment-188705444.

Until I'm able to get tests in https://github.com/apiaryio/dredd/pull/380 passing,

[2016-03-10 08:24] honzajavorek commented on #133
I updated my PR to depend on `v1.3.0-pre.0`, but results of tests didn't change at all. Please see https://github.com/apiaryio/dredd/pull/380 - I've updated the PR description to contain an overview table of what's broken and what works correctly. Reopening https://github.com/apiaryio/drafter/issues/248.

[2016-03-17 10:21] zdne commented on #73
For what it is worth, if you are on Windows with MSVS2015 there is an issue with Node building tool and native extensions. As I've found out you need to set version of MSVS for GYP:

This might apply to Aglio with Protagonist on Windows with MSVS2015...

[2016-03-18 13:58] kylef commented on #73
I'm going to close this issue out since we haven't heard from the original creator in a while, and since the bug was originally created against Protagonist 0.20. I believe that many problems when installing Protagonist on Windows have been resolved in later versions of Protagonist and Drafter.

If anyone is still having any difficulty installing Protagonist please create a separate issue and we'd

[2016-03-18 13:58] #73 closed

[2016-03-19 19:07] anyong commented on #121
Impossible to install on Windows. I've got all the C++ redistributables installed for 2008, 2010, 2012, 2013, 2015, got msvs_version=2015 set in npm and in GYP_MSVS_VERSION=2015 variable. All other C++ stuff so far has compiled without any issues (like node-sass).

[2016-03-24 12:00] kylef opened #134 "Compiler Support Deprecation Notice"
I'd like to announce that we will be increasing our minimum compiler versions to allow us to use newer C++ features and improve the overall development experience with Drafter.

Going forward, we will be supporting the following compilers and versions:

- Microsoft Visual C++ 2013 or higher
- GCC 4.8 or higher
- Clang 3.5 or higher

This change will take affect in the first minor release of Protag

[2016-03-24 17:04] kylef commented on #134
Also want to point out, that these minimum versions are also the same as the minimum versions for Node C++ modules so they are already apply to Node 4 and Node 5.

[2016-03-31 12:02] GiritharanR opened #135 "Protagonist installation failure on RHEL Linux"
Protagonist is getting failed while node-gyp rebuild.

I am running with the following versions,
1. nodejs - 5.9.1
2. npm - 3.7.3
3. gcc - 4.4.7
4. python - 2.7.6

Please find the below error. Is there any suggestion to solve the below issue?

npm ERR! Linux 2.6.32-573.1.1.el6.x86_64
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "-ddd" "install"
npm ERR! node v5.9.1
npm ERR! npm  v3.7.3

[2016-03-31 12:08] GiritharanR commented on #135
We also tried with node version 4 as well.

[2016-03-31 12:38] kylef commented on #135
Hi @GiritharanR,

GCC 4.4 is too old for Node 4 and Node 5. To build node, and also node C++ extensions such as Protagonist you will need the minimum GCC version of 4.8.

For reference, this is mentioned as a prerequisites in Node's documentation: https://github.com/nodejs/node/blob/master/BUILDING.md

You will need to upgrade your compiler version to a minimum of GCC 4.8 or alternatively Clang 3.

[2016-03-31 12:39] kylef commented on #135
We would love to improve our own documentation and installation guides to cover this. Would you happen to know how to install a modern compiler onto RHEL and we can work this into documentation?

[2016-03-31 13:29] GiritharanR commented on #135
@kylef - Thanks for the info. Will try to install with GCC 4.8.

[2016-04-01 16:17] Ustice opened #136 "“Unknown visitor type” in npm package, protagonist"
I am trying to convert my API Blueprints to a Postman collection through protagonist (and then through blueman), but when I use protagonist, I am getting the following result, no matter what I do.

[code]

I have eliminated the possibility that it is from my code, as I get this result when I simply use the example code of:

[code]

I have tried protagonist 1.2.6 and 1.3.0-pre.0, and I get the same

[2016-04-01 16:23] kylef commented on #136
@Ustice Would you be able to share with us the blueprint? Or perhaps find a minimal example to reproduce this issue?

This is most likely an issue in Drafter, our underlying parser behind Protagonist.

[2016-04-01 16:34] Ustice commented on #136
I tried it with the one given in the example, but I also just tried it with [this one](https://raw.githubusercontent.com/apiaryio/api-blueprint/master/examples/01.%20Simplest%20API.md). The minimal one in the example gives the same error, but I wanted to make sure that it wasn't that it was missing needed elements.

[2016-04-01 16:38] Ustice commented on #136
Also, as a note I used Drafter directly, and I was able to get what looks like the proper result, although converting that to a Postman collection with Blueman is throwing another error, possibly related to a Snow Crash dependency issue in Drafter.

[2016-04-04 09:07] pksunkara commented on #121
@anyong You can try using the https://www.npmjs.com/package/drafter.js even though it is a bit slower.

[2016-04-04 12:30] honzajavorek commented on #136
Experiencing completely the same behavior: https://github.com/apiaryio/fury-adapter-apib-parser/issues/4

[2016-04-04 12:36] honzajavorek commented on #136
The funny thing is that I work on a project where `protagonist` is installed as dev dependency and works as expected in tests. Then I have it installed as Fury.js's dependency and when used through Fury, it returns `Unknown visitor type` for whatever I put in.

So in the same project, during the same `npm test` run, the same version of protagonist, just installed in different folders, behaves diff

[2016-04-04 13:00] pksunkara commented on #136
This should be fixed in the next pre release of protagonist.

[2016-04-05 08:06] honzajavorek commented on #136
@pksunkara I installed `v1.3.0-pre.1` and I'm still experiencing the same error.

[2016-04-05 08:21] honzajavorek commented on #136
So far it seems:

- it affects all three latest versions of protagonist
- can occur on a single installation of it (I have two independent protagonists of identical versions installed inside the same project, inside one `node_modules` folder, just as dependencies of different parent projects, and one seems to work and the other one does not)
- when it occurs, if protagonist is fed by any blueprint

[2016-04-05 09:14] GiritharanR commented on #135
@kylef - We have used the GCC compiler 4.8 which is available in dev tools for RHEL 5.9

[2016-04-05 09:16] kylef commented on #135
Awesome!

[2016-04-05 09:16] #135 closed

[2016-04-05 09:31] honzajavorek commented on #136
Just for the record, I created a little sample app where the problem can be reproduced: https://github.com/apiaryio/protagonist-visitor-type-issue Build: https://travis-ci.org/apiaryio/protagonist-visitor-type-issue

[2016-04-05 09:52] pksunkara commented on #136
`v1.3.0-pre.1` is parsing it correctly.

[2016-04-05 14:03] pksunkara commented on #136
This is fixed now.

[2016-04-05 14:03] #136 closed

[2016-04-06 11:46] MattiJarvinen-BA commented on #121
Weird couldn't get it to install through atom UI but `apm install --verbose linter-api-blueprint` worked on cmdline.

[2016-04-07 14:11] pksunkara commented on #133
This has been fixed in `v1.3.0-pre.1`

[2016-04-07 14:11] #133 closed

[2016-04-10 17:42] pksunkara commented on #129
Your syntax is not allowed. You need to do something like the following:

[code]

You can read the [MSON](https://github.com/apiaryio/mson) spec more carefully. `+ Members` is not allowed inside a named type.

[2016-04-10 17:42] #129 closed

[2016-04-10 18:04] udoprog commented on #129
@pksunkara The MSON spec is not the most straight forward document to answer questions like these. I skimmed the spec and I'm at a loss for how you came up with your answer. Do you mind elaborating it a bit?

This issue is aggravated by the raised error not referencing the violating member, structure, or location in any way. I've gotten this within fairly complex blueprints and have been completel

[2016-04-10 18:08] pksunkara commented on #129
From [this](https://github.com/apiaryio/mson/blob/master/MSON%20Specification.md#4-type-sections) part of the MSON spec, You can see the following:

There were a few errors which were missing location related info and we are already working on fixing them, so this should not be a problem soon.

[2016-04-10 18:09] udoprog commented on #129
All right, thanks!

[2016-04-12 12:26] FrankyBoy opened #140 "Don't require python"
Basically because it makes installing and setting up stuff a pain in the ass.

[2016-04-12 12:27] pksunkara commented on #140
Unfortunately node-gyp requires it. :disappointed:

[2016-04-12 12:28] FrankyBoy commented on #140
Don't require node-gyp

[2016-04-12 12:29] pksunkara commented on #140
Would love to get some alternatives.

[2016-04-12 12:32] FrankyBoy commented on #140
well, there is now an (experimental) emscripten-port of drafter I saw somewhere, so in case of no python you could fall back to that. That would also fix the issue that everyone needs a c-compiler to install a js library ...

[2016-04-12 12:34] pksunkara commented on #140
@FrankyBoy We are the one who are generating the emscripten port of drafter at https://npmjs.com/package/drafter.js. But it is a lot slower than C++ one.

We can probably look into CMake based build system for native node module.

[2016-04-12 12:37] FrankyBoy commented on #140
I have to say, I am not too concerned about speed (that's just Jenkins' time in a separate build that is spent), for me it's all about ease of use.

[2016-04-12 12:38] pksunkara commented on #140
@FrankyBoy Then you can use `drafter.js` directly in place of `protagonist`.

[2016-04-12 12:38] w-vi commented on #140
@FrankyBoy The idea behind the drafter.js version is that whoever needs protagonist can make it an optional dependency and use drafter.js as a fallback, but because it is much slower we are leaving this decision on the protagonist consumer. Sometimes performance matters sometimes not.

[2016-04-12 12:44] FrankyBoy commented on #140
@w-vi so I'd need to poke the aglio-guys on this I guess ... cya over there.

[2016-04-12 12:47] #140 closed

[2016-04-21 06:55] subinvarghesein opened #145 "Failed to build protogonist on Node5 Ubuntu 14.04"
All the requirements mentioned in https://github.com/apiaryio/protagonist#install and https://github.com/nodejs/node/blob/v5.x/BUILDING.md#unix--macintosh are met as shown below:
[code]
But still building of protogonist is failing. NPM install log:
[code]

Any help would be appreciated.

[2016-04-21 08:56] w-vi commented on #145
@subinvarghesein Thanks for the report, one of the protagonist dependencies `nan` needs to be updated to support node 5. You can give it a try to solve for yourself while I'll fix it in protagonist. Try to update https://github.com/apiaryio/protagonist/blob/master/package.json#L15 nan to latest 2.2.1 it should help.

[2016-04-21 09:09] w-vi commented on #145
@subinvarghesein https://github.com/apiaryio/protagonist/pull/146 is this solving your issue?

[2016-04-22 06:57] subinvarghesein commented on #145
I tried installing straight from your commit at https://github.com/apiaryio/protagonist/commit/fedd5f5d482027d7113efe3400f83e310776d44a

Unfortunately, It still didn't work. Following is the output:

[code]

[2016-04-22 07:41] w-vi commented on #145
I see, I can repro this behavior, it seems that git submodules are not found by npm. Will investigate further and let you know once I find what's going on.

[2016-04-22 07:43] w-vi commented on #145
@subinvarghesein is possible for you to try building local package from source and then installing?

[2016-04-22 09:04] pksunkara commented on #145
Unfortunately, due to submodules, you can't build straight from the commit.

[2016-04-22 09:04] pksunkara commented on #145
Can you try building after cloning the repo?

[2016-04-22 10:48] subinvarghesein commented on #145
Followed steps provided in https://github.com/apiaryio/protagonist/#build

Building seems to have worked:

[code]

[code]

[2016-04-22 11:04] pksunkara commented on #145
@subinvarghesein Hey, Can you do `npm i` and `npm test` in that directory just to check deeply? Thanks.

[2016-04-22 11:56] w-vi commented on #145
Oh, I haven't checked the version of npm, current npm (3.8.8) supports git submodules but older ones don't.

I think this issue is resolved and new version of protagonist should be released.

[2016-04-22 12:26] subinvarghesein commented on #145
[code]

[2016-04-22 13:59] pksunkara commented on #145
Closing this now. Thanks for the help.

[2016-04-22 13:59] #145 closed

[2016-04-27 03:17] artlogic opened #147 "Version 1.3.1 does not compile under Node 6"
Commit fedd5f5d482027d7113efe3400f83e310776d44a fixes the issue (upgrading nan), but it hasn't been published to npm.

[2016-04-27 11:08] pksunkara commented on #147
Fixed by #148

[2016-04-27 11:08] #147 closed

[2016-05-04 13:22] JefStat opened #150 "Protagonist not compiling with node 6.0.0"
In file included from ../src/annotation.cc:1:
In file included from ../src/protagonist.h:6:
../../nan/nan.h:590:20: error: no type named 'GCEpilogueCallback' in 'v8::Isolate'
      v8::Isolate::GCEpilogueCallback callback
[code]

[2016-05-04 13:27] w-vi commented on #150
Hi @JefStat please can you provide more details? Compiler used and it's version? Also are you building from npm?

[2016-05-04 13:54] JefStat commented on #150
I'm installing from npm, sorry I don't know how to check what compiler version I'm using other then the line `gyp ERR! node-gyp -v v3.3.1`

Pretty much following the advice from npm error log here.
[code]

[2016-05-04 14:33] pksunkara commented on #150
@JefStat You need protagonist@1.3.2 to make it work on Node 6.0

[2016-05-04 14:43] JefStat commented on #150
Ok thanks. I was installing Dredd with npm which was pulling in protagonist.

[2016-05-04 14:47] #150 closed

[2016-06-05 19:06] prashannth commented on #19
The node-gyp EACCES can be solved by changing access and sometimes setting node-gyp python version for npm as follows:

`sudo chown -R $USER /usr/local`

&&

 `npm config set python /usr/bin/python2.7` or 2.6

Worked like a charm!

[2016-06-23 19:03] betterphp opened #155 "Installation fails on Ubuntu 16.04"
Sorry this feels like the sort of thing that's probably going to turn out to be user error - I'm getting this when trying to build from the current master branch. Ended up with the same error when trying to install aglio from npm.

[code]

There seem to have been similar issues in the past but the solutions there don't seem to work for me,

[2016-06-27 16:56] mhueter commented on #155
same issue on Ubuntu 16.04 (docker image). It happens when I run `npm install` which has dredd in it: `"dredd": "1.1.0"`

I get no errors when I run `npm install dredd@1.1.0 -g`. I only get the protagonist / node-gyp dependency error above when I do a normal npm install.

On the docker image I have Ubuntu 16.04 I have python 2.7, gcc, make, node v6.2.2, npm  v3.9.5

[2016-06-27 17:11] kylef commented on #155
Hi @betterphp

It seems you didn't clone the git submodules for this repository hence some files in submodules are not found (gyp: drafter/drafter.gyp not found (cwd: /home/jacek/protagonist) while loading dependencies of binding.gyp while trying to load binding.gyp).

Please check the steps at https://github.com/apiaryio/protagonist#hacking-protagonist

[2016-06-27 17:13] kylef commented on #155
@mhueter It seems your problem is a separate issue (installing Protagonist via Dredd, and not installing Protagonist directly from the Protagonist repository). Could you please file a separate issue including your error log.

[2016-06-27 17:13] #155 closed

[2016-06-27 17:38] mhueter opened #156 "Protagonist install fails with dredd and alone on Ubuntu 16.04 docker image"
Hello,

Having some problems installing dredd on a Ubuntu docker image, but the problem seems to be due to protagonist as I get the same error when I try to install protagonist by itself first.

**Docker image information:**

_base image:_ ubuntu:16.04
_installed:_ `build-essential`, `libkrb5-dev`, `software-properties-common`, `python python-dev python-pip python-virtualenv`, `nodejs`.

**[Downlo

[2016-06-27 17:41] mhueter commented on #155
@kylef alright https://github.com/apiaryio/protagonist/issues/156

[2016-06-27 17:44] mhueter commented on #156
also it works when I globally install it with `-g` but I need it to work from the `package.json` so I can `require` it in a Node script.

[2016-06-27 18:40] kylef commented on #156
Looks like there's some problem where the nan dependency isn't installed / available.

[code]

Does the following succeed?

[code]

[2016-06-27 19:13] mhueter commented on #156
Yes, nan installs without issue (as does node-gyp).

[2016-06-27 22:44] mhueter commented on #156
This issue is due to protagonist not working on Node 6.2.2. I switched to Node 4 and it installs properly.

[2016-06-28 00:03] mhueter commented on #156
I got this working with a different base image with Node v4.4 - my initial post has Node v6.2.2, which probably isn't supported yet.

[2016-06-28 08:20] w-vi commented on #156
Protagonist is tested on Node v6.1.x that's the latest node version available on travis so maybe 6.2.x has some issues.

[2016-06-28 16:28] mhueter commented on #156
Same exact error output using an alpine linux Node 6 [docker image](https://hub.docker.com/r/mhart/alpine-node/). I couldn't find a 6.1.x image. So I switched to alpine linux Node 4.4.6 and it's working.

This workaround isn't a problem for me (the only inconvenience is transposing ES6 down for Node 4).

[2016-06-30 13:16] pksunkara commented on #156
Is it failing with OS X node 6.2.x too?

[2016-06-30 21:24] mhueter commented on #156
@pksunkara OS X is working.

[2016-07-11 10:55] #134 closed

[2016-07-21 22:57] kylef commented on #77
I think [Drafter NPM](https://github.com/apiaryio/drafter-npm) sufficiently solves this problem. You can pass in the `--no-optional` flag to `npm install` to use the pure JavaScript version of Drafter. An update to tools such as Dredd is underway (https://github.com/apiaryio/dredd-transactions/pull/51).

[2016-07-21 22:57] #77 closed

[2016-07-21 23:00] kylef commented on #35
It looks like this has been fixed for a while now via https://github.com/apiaryio/snowcrash/issues/329.

Please re-open if this is not the case.

[2016-07-21 23:00] #35 closed

[2016-07-21 23:11] kylef commented on #121
I think [Drafter NPM](https://github.com/apiaryio/drafter-npm) sufficiently solves this problem. If NPM cannot build Protagonist, it will then automatically fallback to drafter.js, the pure JS version of Drafter.

Tools such as Aglio can use drafter-npm to provide installation without a compiler and other non NPM dependencies (https://github.com/danielgtaylor/aglio/pull/277).

[2016-07-21 23:11] #121 closed

[2016-07-21 23:13] kylef commented on #59
At lot has changed in Protagonist since this issue was created. I'm unable to reproduce this problem with the latest versions of Drafter/Protagonist.

@eddiemoore Could you please verify if you are still having this problem with Protagonist 1.4.1.

[2016-07-21 23:14] kylef commented on #60
At lot has changed in Protagonist since this issue was created. I'm unable to reproduce this problem with the latest versions of Drafter/Protagonist.

@eddiemoore Could you please verify if you are still having this problem with Protagonist 1.4.1.

[2016-07-21 23:19] kylef commented on #75
I'ms still unable to reproduce problems parsing these blueprints with the latest versions of Protagonist (1.4.1) and Drafter.

The API Blueprint does produce a lot of warnings, but it does parse the blueprint.

Can you please elaborate on what the problem is, are there any specific errors? Perhaps this error has been fixed, please test against Protagonist 1.4.1, a lot has changed since Protagonist

[2016-08-23 13:34] w-vi commented on #156
Closing this one as it seems to be working, feel free to reopen if needed.

[2016-08-23 13:34] #156 closed

[2016-08-23 13:36] w-vi commented on #60
Closing as solved, feel free to reopen if the issue is not fixed or occurs again.

[2016-08-23 13:36] #60 closed

[2016-08-23 13:37] w-vi commented on #75
Closing as it seems out of date, feel free to reopen though.

[2016-08-23 13:37] #75 closed

[2016-09-04 18:19] iterq1 opened #163 "Troubles with installing globally on Linux via npm."
Hi! Have the same issue as https://github.com/apiaryio/protagonist/issues/127.

I have installed `build-essential`, but installation of api-mock (or protagonist separately) fails with error log listed below.

[code]

[2016-09-16 11:53] pksunkara commented on #163
What is the distro you are using? /cc @w-vi

[2016-09-16 12:07] w-vi commented on #163
It's some debian based, are you sure you have gcc 4.8+ installed?

[2016-09-16 12:09] iterq1 commented on #163
@pksunkara I'm using Linux Mint 17.3.

By the way I solved this issue by switching to node v4 from v6.
But protagonist README.md says

so issue isn't solved I think.

@w-vi
`gcc version 4.8.4 (Ubuntu 4.8.4-2ubuntu1~14.04.3) `

[2016-09-16 12:12] pksunkara commented on #163
As you can see here our protagonist does work on https://travis-ci.org/apiaryio/protagonist/jobs/158188296. Maybe can you try reinstalling node v6 and try again?

[2016-09-16 12:13] w-vi commented on #163
Strange we are testing against all of those node versions on ubuntu and everything seems to be working well. I am mostly working with node 6 and protagonist installs correctly. So there is some deeper issue.

[2016-09-16 14:21] iterq1 commented on #163
@w-vi @pksunkara I've installed it again within nvm environment with node v6.6.0. It worked, both, global and local installation. So probably there were some troubles with my system environment. Thank you.

[2016-09-16 14:21] pksunkara commented on #163
Yeah, I thought so since you installed `build-essential` after installing node.

[2016-09-16 14:21] #163 closed

[2016-09-16 22:00] #82 closed

[2016-09-16 22:01] kylef commented on #18
Since this issue was originally created, we've now introduced a new package ([Drafter NPM](https://github.com/apiaryio/drafter-npm)) which can be used to install Protagonist, or fallback on a pure javascript version of the API Blueprint parser.

If you're having difficulties setting up your environment I'd recommend using https://github.com/apiaryio/drafter-npm instead.

[2016-09-16 22:01] #18 closed

[2016-09-16 22:02] kylef commented on #59
I'm going to close this issue since we haven't heard back. If this is still an issue for anyone please let us know and we can re-open this issue.

[2016-09-16 22:02] #59 closed

[2016-09-28 11:05] WillSkates opened #166 "API Blueprint : Error parsing input: You can not register a basic element"
I'm having a weird situation where I cant use 'member' to label an object structure. Is 'member' a reserved word?

This will throw the error in the title:

[code]

This will parse without issue:

[code]

[2016-09-28 11:22] kylef commented on #166
Hi @WillSkates,

I do believe it is a reserved keyword. You can see it listed as such in the MSON specification (https://github.com/apiaryio/mson/blob/master/MSON%20Specification.md#6-reserved-characters--keywords).

[2016-09-28 11:36] kylef commented on #166
The reason some of these keywords are reserved, is because it could be difficult for the MSON parser to know the difference. For example in the following case:

[code]

Members here is actually parsed as the members inside my enum `Foo`. However, in the following case:

[code]

`MyObj` is actually a separate object and `Foo` is an enum with no members.

---

That said, the following API Blueprint

[2016-09-28 12:37] pksunkara commented on #166
Tracking it in https://github.com/apiaryio/drafter/issues/401

[2016-09-28 12:37] #166 closed

[2016-09-29 05:30] fehro commented on #47
I had the same issues as you.
This fixed it.
https://stackoverflow.com/a/38149604

[2016-10-16 22:27] Ravichandrane opened #169 "protagonist@1.5.2 installation fails on Ubuntu 16.04"
Hi,

Having some trouble installing protagonist on Ubuntu 16.04 with node 6.8.1 & npm 3.10.8.

Cheers,
Ravi

![screen shot 2016-10-17 at 00 22 50](https://cloud.githubusercontent.com/assets/4774729/19421396/5c865988-9400-11e6-8200-8b712edb4c0a.png)

[2016-10-17 05:56] w-vi commented on #169
@Ravichandrane can you please post also either the `npm-debug.log` or the output before this screenshot as from the picture we have no idea what went wrong.

[2016-10-17 14:11] Ravichandrane commented on #169
Hi @w-vi,

Here is the [npm-debug.log ](https://cl.ly/3G1n0q1j302x)

[2016-10-17 14:58] w-vi commented on #169
@Ravichandrane So that didn't really say much, can you please show the output of  `gcc --version` and ideally capture what gets printed to console during the `npm i protagonist` to see if there are any compilation errors.

[2016-10-25 13:36] o5 commented on #169
I had similar problems with installation on Ubuntu, because `python3` is default in Ubuntu 16.04 and protagonist needs `python2` (next dependencies are `make` and `g++`). I know, there is a [notice](https://github.com/apiaryio/protagonist/commit/d9a063f80738894416cafe5044197069075a1a88) about it, but it would be great to have dockerized version of Protagonist.

PS: I'm happy user of dockerized `ap

[2016-10-25 13:41] kylef commented on #169
There should be a warning emitted if that was the case: https://github.com/apiaryio/drafter/blob/846065000ba390935e23fa4d0a7830f4790b6db4/configure#L12-L17 (this should be printed to stderr instead of stdout).

@w-vi If this is problematic, we could update Drafter's configure script to re-invoke itself with `python2` when `python` is not version 2. Something along the lines of:

[code]

[2016-10-25 13:43] w-vi commented on #169
@kylef  If python2 is now by default on Ubuntu we should really have an automatic way as you described

[2016-10-26 08:20] EvAlex commented on #169
It fails also on Windows and in `node:latest` docker too

[2016-11-09 10:48] Ravichandrane commented on #169
Hey guys,

I fixed the issue on Ubuntu 16.04 with

- `sudo apt-get install build-essential`
- `sudo apt-get install build-essential g++`
- `sudo apt-get install build-essential make`
- `sudo npm install -g node-gyp`

I hope this can help you.

[2016-11-12 00:13] nvlimbachiya opened #171 "v1.6.0 throws warnings on OSX 10.10.5 (Yosemite)"
`npm install progtagonist@1.6.0` throws a lot of deprecation warnings. I am using the most recent node LTS version and the npm version that comes with it.

[code]
Here is what I see on my terminal
[code]

Let me know if you need any more info from me!

[2016-11-12 00:22] kylef commented on #171
This isn't anything to worry about, these are new deprecations in Node 6 and the old methods are still supported. Protagonist will still work as intended on Node 6.

We will have to investigate if we can remove use of these deprecations, but I do fear that we might not be able to while retaining support for Node 0.10 and Node 0.12 since some of the newer methods might not exist in these versions.

[2016-11-12 05:19] nvlimbachiya commented on #171
Okay cool, good to know the reason behind it. If at all it takes forever to get fixed, is there any way to suppress the warnings to keep the build clean?

Just curious, don't you guys bump major versions to remove deprecated methods according to the newer node versions? Might be better than having to support every node version with a single `protagonist` version!

[2016-12-07 15:40] pksunkara commented on #171
@nvlimbachiya Could you do `npm i nan@latest` inside protagonist and compile it again?

[2016-12-07 15:41] kylef commented on #171
@pksunkara there deprecation warnings are still present on latest Protagonist on Node 7.

[2016-12-07 15:42] pksunkara commented on #171
Most of the deprecation warnings are because of nan. If they add better support for them in their latest releases, maybe some of them would vanish.

[2016-12-10 07:32] tmacjx opened #175 "What's Happened???"
tmackandeMacBook-Pro:API_document tmackan$ npm install api-mock
(node:6412) fs: re-evaluating native module sources is not supported. If you are using the graceful-fs module, please update it to a more recent version.

  CXX(target) Release/obj.target/libmarkdownparser/drafter/ext/snowcrash/ext/markdown-parser/src/ByteBuffer.o
  CXX(target) Release/obj.target/libmarkdownparser/drafter/ext/snowcras

[2017-01-05 14:40] #169 closed

[2017-01-05 15:25] o5 commented on #169
From [comment](https://github.com/apiaryio/protagonist/issues/169#issuecomment-256036380):

Here is what I looked for: [o5/apibjson](https://github.com/o5/apib2json) :)

[2017-01-22 18:54] pksunkara commented on #175
You are trying to install protagonist@1.2.x on node 6 which is not supported. Please use the latest protagonist@1.6.x

[2017-01-22 18:54] #175 closed

[2017-03-01 13:23] jtakalai commented on #93
`nvm install 0.12.18` worked for me. This was suggested in https://github.com/meanjs/mean/issues/1159

[2017-04-10 02:08] SiminXmas opened #184 "node-gyp rebuild failure on Mac OS 10.12.4"
/usr/local/bin/api-mock -> /usr/local/lib/node_modules/api-mock/bin/api-mock

  CXX(target) Release/obj.target/libmarkdownparser/drafter/ext/snowcrash/ext/markdown-parser/src/ByteBuffer.o
clang: error: invalid deployment target for -stdlib=libc++ (requires OS X 10.7 or later)
make: *** [Release/obj.target/libmarkdownparser/drafter/ext/snowcrash/ext/markdown-parser/src/ByteBuffer.o] Error 1
gyp ERR

[2017-04-10 07:48] pksunkara commented on #184
Do you have updated Xcode developer tools? You need a C++ compiler which is installed by that.

[2017-04-11 01:01] SiminXmas commented on #184
@pksunkara yes, I had updated Xcode (Version 8.3)

[2017-04-11 08:30] kylef commented on #184
@SiminXmas Do you have the command line tools installed?

[code]

[2017-04-11 08:50] SiminXmas commented on #184
@kylef I had install command line tools when Xcode installed

[2017-04-11 14:57] presto2116 commented on #184
same problem here. have xcode installed and getting the same error

[2017-04-11 15:24] kylef commented on #184
@presto2116 @SiminXmas Can you both run `xcode-select --install` and see what it says please. If they are installed it should tell you.

xcode-select may ask to agree to Xcode terms of license. Xcode is not required, just the command line tools.

[code]

[2017-04-11 15:27] presto2116 commented on #184
xcode-select: error: command line tools are already installed, use "Software Update" to install updates
current xcode version is 8.3.1

[2017-04-11 15:28] kylef commented on #184
Do you have homebrew installed? If so can you run `brew doctor` it's great at pinpointing some common problems.

[code]

[2017-04-11 15:32] presto2116 commented on #184
Please note that these warnings are just used to help the Homebrew maintainers
with debugging if you file an issue. If everything you use Homebrew for is
working fine: please don't worry and just ignore them. Thanks!

Warning: You have unlinked kegs in your Cellar
Leaving kegs unlinked can lead to build-trouble and cause brews that depend on
those kegs to fail to run properly once built. Run `brew

[2017-08-18 19:41] kylef commented on #171
That's no longer the case, all of the warnings are caused by us, #191 and #190 prevent all of the warnings as of Node 8.4.

[2018-05-07 18:43] ejunker opened #199 "Node 10 Support"
I am trying to use Node 10 but get this error.

[code]

I think it is because it needs to use a newer version of nodejs/nan which supports node 10. It would also be nice to fix any deprecations.

[2018-05-10 03:00] kylef commented on #199
We've fixed this in master (tests pass on Node 10 in #200) and I think v2.0.0-pre.0, we're just wrapping up Protagonist 2.0 (Drafter 4.0) so we can get a final 2.0 release out.

[2018-06-27 11:06] kylef commented on #184
Sorry we never got round to responding to you. Node 0.12 is no longer supported in Protagonist 2.0 and onwards, however you can use Protagonist 1.x to Node 0.12 support so pin to the older version.

Another solution would be to use the [`drafter-npm`](http://github.com/apiaryio/drafter-npm) package instead of Protagonist directly. Drafter NPM will attempt to build the C++ Protagonist module, but i

[2018-06-27 11:06] #184 closed

[2018-08-30 12:59] pksunkara commented on #171
Closing this.

[2018-08-30 12:59] #171 closed

[2018-08-30 13:00] pksunkara commented on #199
Releasing 2.0.0-pre.1 fixes this.

[2018-08-30 13:00] #199 closed

[2018-09-13 21:32] mgwelch opened #216 "Is there documentation for the parse results?"
I've been browsing all of the different parsers in apiaryio org. After navigating to `drafter` or `snowcrash` or one of the low level parsers I think it defined the different outputs one of which led to a dead page and one that led to a deprecated warning and said that API Elements is the new standard output.

At that website it defers to individual parsers for explicit information on things like

[2018-09-13 21:36] mgwelch commented on #216
https://github.com/apiaryio/drafter defines the two outputs:

* [Parse Result Namespace](http://api-elements.readthedocs.io/en/latest/element-definitions/#parse-result-elements) which leads to "sorry page does not exist" page.

* [API Blueprint AST](https://github.com/apiaryio/api-blueprint-ast) which is deprecated. Clicking that link leads you to API Elements.

[2018-09-13 21:37] mgwelch commented on #216
Finally, can I assume there were no errors/warnings if there are no `annotations` in the resulting JSON?

[2018-09-13 21:40] kylef commented on #216
Hi @mgwelch, we re-hauled the API Elements documentation and must've forgot about some of the links here.

You can find the docs at http://apielements.org, the example element reference page breaks down all of the elements including parse result. There is also a tooling page if you are trying to consume the output in JavaScript check out the API Elements JS package, there is a Python library liste

[2018-09-13 21:42] kylef commented on #216
Realise this was posted on Protagonist and not Drafter. In that case I'd recommend you check out the Fury (https://github.com/apiaryio/fury.js), and Fury adapter for API Blueprint (http://github.com/apiaryio/fury-adapter-apib-parser). That provides a JavaScript API (https://api-elements-js.readthedocs.io/en/latest/api.html#parse-result) to go over the parse result.

[2018-09-13 23:44] mgwelch commented on #216
@kylef Thanks for your quick response.

Upon reviewing the API Elements documentation more closely I found the relevant information: https://api-elements.readthedocs.io/en/latest/element-definitions.html#source-map

Thanks.

[2018-09-13 23:48] mgwelch commented on #216
One last question then. I see how I got confused original. If you look at [Annotation](https://api-elements.readthedocs.io/en/latest/element-definitions.html#annotation-string) the descriptions for `code` and `sourceMap` are vague:

[code]

I've now found the Source Map information. Is there a definition for `code` elsewhere that I'm missing. All we're told is it's a Number and I must refer to the

[2018-09-14 01:04] mgwelch commented on #216
Looks like I'm well on my way. Still curious if I can learn anything more about `code` but its not super critical. The index along with `src-location` framework allows me to report out line and column of any issues.

[2018-11-16 19:39] kylef commented on #216
The codes are defined in snowcrash source: https://github.com/apiaryio/drafter/blob/e83e2fd48ef647bb525e5a95ddaef52c9306ed6b/ext/snowcrash/src/SourceAnnotation.h#L100-L136.

I was proposing that we should remove codes and replace with URLs in https://github.com/apiaryio/api-elements/issues/24, would welcome any input in that issue if you have some thoughts on this as you are trying ot make sense o

[2018-11-20 16:55] kylef opened #220 "Slim down NPM Package"
The NPM package ends up at 11.5MB decompressed and is pretty large, I think there are files we can strip out that are not needed.

The following should be analyased, but there is various CI configs, `.git` directories of vendored dependencies, test files and test dependencies of vendored dependencies (Catch etc). Protagonist test files, xcode projects etc.

[code]

[2019-01-23 11:08] kylef opened #224 "Installing protagonist 2.0.0-pre.3 fails with missing source files"
[code]

[2019-01-23 11:09] kylef opened #225 "Create a smoke test for ensuring that users can install Protagonist source"
Currently if you try installing protagonist it will fail to build (https://github.com/apiaryio/protagonist/issues/224). We should catch these problems at CI.

- https://github.com/apiaryio/dredd/blob/500eadbc6c57a39da16f98b527553faac981b4c6/scripts/smoke.sh

[2019-01-23 15:51] kylef commented on #224
This was caused by improper release of Protagonist where the git submodules was not synced correctly, we should make a new release with no code changes to resolve.

[2019-02-07 14:47] #220 closed

[2019-02-07 15:17] pksunkara commented on #224
Fixed with v2.0.0-pre.4

[2019-02-07 15:17] #224 closed

[2019-04-01 14:25] j5ingh opened #226 "Build error for 1.6.8"
Hi,

I need [aglio](https://github.com/danielgtaylor/aglio) which is depending on protagonist@1.6.8 but I'm having issues with installing/building it with npm/node-gyp/manually.

I've got the latest OS X version with python2.7 and a compiler through xCode.

Can someone help me out?

[2019-04-01 14:37] kylef commented on #226
Hi @j5ingh,

Protagonist 1.x does not contain support for Node 11, you will either need to use Protagonist 2.x or downgrade to an older Node.

That said, Aglio optionally depends on the C++ parser Protagonist and you should still be able to use Aglio with our native JavaScript parser (it's a little less performance but probably not noticable for a lot of cases). I would imagine that the installati

[2019-04-01 14:37] #226 closed

[2019-04-26 14:24] kylef commented on #225
Implemented in https://github.com/apiaryio/protagonist/pull/228

[2019-04-26 14:24] #225 closed

[2019-06-03 11:13] kylef opened #237 "warn_unused_result warnings emitted during installation"
[code]

[2019-06-03 11:13] kylef opened #238 "deprecated-declarations warnings emitted during installation"
We should stop using these deprecated APIs:

[code]

[2019-07-01 12:38] kylef opened #241 "Can we slim down "release" builds?"
When you `npm install protagonist` into a project, it takes up around 100MB, over 90MB of that is built artefacts which are not needed by Protagonist at runtime, all that is really needed from `build` at runtime is `build/release/protagonist.node`.

<img width="464" alt="Screenshot 2019-07-01 at 13 38 17" src="https://user-images.githubusercontent.com/44164/60437100-831d0f00-9c05-11e9-9e42-ab7c854

[2019-07-01 12:42] kylef commented on #241
Posting as a question, not sure how feasible it is. Perhaps we can hook into GYP to delete some of the build state for release builds.

[2019-07-01 12:52] kylef commented on #241
In theory, something like the following should contain everything for the runtime: <img width="407" alt="Screenshot 2019-07-01 at 13 51 28" src="https://user-images.githubusercontent.com/44164/60437948-5964e780-9c07-11e9-980e-e81ce8bdf2fc.png">

We do need to consider that some of the LICENSE files for vendored dependencies are no there and how to ensure they are always present.

[2019-07-17 09:08] kylef commented on #241
Looking at the GYP documentation, doesn't appear to be any hooks or way we can execute code, and even if we could it would be tricky to make it platforn independent. I think an NPM hook for `postinstall` may be the best option, we can produce a Node file which contains instructions to delete the artefacts for Release builds (we can omit these for debug).

[2019-07-17 11:54] pksunkara commented on #241
I thought we need `*.a` files because protagonist.node is dynamically linked. Did you get it working after deleting those things after installing protagonist as a module?

[2019-07-17 11:58] kylef commented on #241
Yes, it works. `.a` is a static library, `protagonist.node` does not dynamically link to anything other than libc++ and system libraries:

[code]

[2019-11-07 15:45] gap777 commented on #241
Any progress on this? We'd love to take advantage of this slimmed down release.

[2019-11-13 03:05] wen-bing opened #248 "install failed in ubuntu 18.04"
Node: v11.13.0
NPM: 6.7.0

npm install protagonist
[code]

[2019-11-13 06:38] kylef commented on #248
Protagonist 1.6.8 is an older version of Protagonist which is incompatible with Node 11. [Protagonist 2.0.2](https://github.com/apiaryio/protagonist/releases/tag/v2.0.2) is currently the latest version, it’s tested to work with Node 4 through Node 12. Please install the current version of Protagonist instead.

[code]

[2019-11-13 06:38] #248 closed

[2019-11-25 06:21] elmeister opened #249 "Install failed on OS X"
[code]

[2019-11-25 15:26] kylef commented on #249
@elmeister can you share which version of macOS you are running and which version of the build tools (whether you've installed the command line build tools on macOS or which version of Xcode you have). Output of `clang --version` would be good to check.

[2019-11-25 15:28] kylef commented on #241
@gap777 There hasn't been, I am not entirely sure if it is possible from Protagonist alone. I haven't had chance to fully look into it, it might be up for discussion upstream in Node JS (node-gyp specifically: https://github.com/nodejs/node-gyp) since this can apply to all the C++ add-ons for Node.

If you want a slimmed down build, you can take a look at drafter.js, it's a pure JavaScript version

[2019-11-25 16:39] elmeister commented on #249
[code]

[2019-12-05 14:05] loaded02 opened #250 "Install failed on Linux"
gyp ERR! System Linux 5.4.1-arch1-1
gyp ERR! command "/usr/bin/node" "/usr/lib/node_modules/node-gyp/bin/node-gyp.js" "rebuild"
...
gyp ERR! node -v v13.3.0
gyp ERR! node-gyp -v v6.0.1

[2019-12-05 14:23] kylef commented on #250
What is the error you are seeing?

[2019-12-05 14:24] loaded02 commented on #250
Just saw that is not tested with node v > 12 [here](https://github.com/apiaryio/protagonist/issues/248#issuecomment-553262202). It works when I downgrade node!

[2019-12-05 14:31] kylef commented on #249
The version of LLVM is too old to support Drafter, the minimal compiler versions supported are listed at https://github.com/apiaryio/drafter/#installation.

It's a little complicated comparing those versions from `clang --version` since clang-800.0.42.1 is based on a much older LLVM upstream (LLVM 3.9 from 2016, the latest is LLVM 9) (https://en.wikipedia.org/wiki/Xcode#Xcode_7.0_-_11.x_(since_Fre

[2019-12-05 14:31] #249 closed

[2019-12-08 03:44] elmeister commented on #249
I don't have Xcode installed at all actually. It's size is over 10 Gb, right? Just to use drafter.js... Never thought it's a system requirement.

[2020-03-23 08:16] domnantas commented on #250
Having the same issue on MacOS 10.15 (Node 13.5.0).
`node-gyp` fails:
[code]
Mainly this error repeats many times, on different lines of code:
[code]

[2020-05-09 20:43] wopian opened #255 "Install fails on Windows with Node 14"
Snippet of output with compile errors (way to long for my terminal history)

[code]

Node GYP 5.1.0
Node 14.2.0
Protagonist 2.2.0
Windows 10 19619

[2020-06-04 01:11] markcarroll opened #257 "Fails to compile on MacOs, Amazon Linux"
`npm install`fails with the following:

[code]

[2020-06-04 01:30] markcarroll commented on #250
Same issue. Errors logged in #257

[2020-06-17 21:07] im-sunil opened #258 "Returning null"
[code]

Example in Readme section return  null

"protagonist": "^2.2.1"

[2020-06-17 21:34] kylef commented on #258
`# My API` has no warnings or errors, thus for validation operation it is success and there isn’t a parse result (since there would be no warnings or errors). If you change the source API Blueprint to contain a validation warning or error then you should see a parseResult with the annotations.

For example:

[code]

[2020-06-17 21:39] #258 closed

[2020-06-25 21:53] #238 closed

[2020-09-17 08:11] tavisca-ashedge opened #261 "Parsing issue with array of custom types"
I have below content in apib file. Issue is after parsing 'persons ' is showing type as array only (not array of personsInfo)
because of this personsInfo types are not resolved

`
## persons (object)
+ persons (array [personsInfo], required) - Contains the list of information.

## personsInfo (object)
+ type (enum, required) - Type of guest
  + Adult
  + Child
+ age: 25 (number)

`
I'm using prota

[2020-09-17 09:24] kylef commented on #261
Protagonist 1.x is unsupported. Please upgrade to Protagonist is 2.2.1. The last Protagonist 1.x release was in 2017 (3 years ago).

If you want to define an array which may only contain a specific type, then you may want to use the [`fixed-type` keyword](https://apiblueprint.org/documentation/mson/cheatsheet.html#arrays). For example to describe an array which may only contain an object which mus

[2020-09-18 09:35] #261 closed

[2020-09-18 09:36] tavisca-ashedge commented on #261
This works

[2021-11-26 15:06] Nazeeh21 opened #265 "Getting errors while running `yarn` or `npm i` with node version 16"

[2022-03-30 19:39] Sergei8888 commented on #265
The same: ```[4/4] Rebuilding all packages...
[1/2] ⠈ protagonist
warning Error running install script for optional dependency: "C:\\Users\\serge\\WebstormProjects\\uniscope\\src\\api_gateway\\node_modules\\protagonist: Command failed.
Exit code: 1
Command: node-gyp rebuild
Arguments:
Directory: C:\\Users\\serge\\WebstormProjects\\uniscope\\src\\api_gateway\\node_modules\\protagonist
Output:
C:\\U

[2022-08-05 16:36] freddneos commented on #265
same here , making my build too slow ...